<section class="main-gallery main-gallery-3 gallery B_72_LINE B_72_BG BLOCK_72">
    <div class="gallery__wrapper container B_72_PADDED_TOP B_72_PADDED_BOTTOM B_72_ALLIGN">
        <div class="gallery__info">
            <div class="gallery__subtitle B_72_SUBTITLE">Блок 72</div>
            <h2 class="gallery__title B_72_TITLE">Галерея</h2>
            <div class="gallery__text B_72_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или несколькими
                юридическими или физическими лицами.</div>
        </div>
        <div class="gallery__cards cards cards-2">
            <div class="cards__row">
                <div class="gallery__card featured card" data-slick-index="0">
                    <div class="card__image">
                        <div class="img-cage">
                            <img src="./images/gallery-sm/1.png" alt="Gallery card" class="cta">
                        </div>
                    </div>
                    <div class="card__lupa" data-action="gallery" data-section="main-gallery-3">
                        <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                            <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                        </svg>
                    </div>
                </div>
                <div class="cards__col">
                    <div class="gallery__card card" data-slick-index="1">
                        <div class="card__image">
                            <div class="img-cage">
                                <img src="./images/gallery-sm/2.png" alt="Gallery card">
                            </div>
                        </div>
                        <div class="card__lupa" data-action="gallery" data-section="main-gallery-3">
                            <svg width="26" height="23" viewBox="0 0 26 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                                <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white"
                                    stroke-width="2" />
                                <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                                <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                                <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                                <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            </svg>
                        </div>
                    </div>
                    <div class="gallery__card card" data-slick-index="2">
                        <div class="card__image">
                            <div class="img-cage">
                                <img src="./images/gallery-sm/3.png" alt="Gallery card">
                            </div>
                        </div>
                        <div class="card__lupa" data-action="gallery" data-section="main-gallery-3">
                            <svg width="26" height="23" viewBox="0 0 26 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                                <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white"
                                    stroke-width="2" />
                                <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                                <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                                <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                                <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            </svg>
                        </div>
                    </div>
                    <div class="gallery__card card" data-slick-index="3">
                        <div class="card__image">
                            <div class="img-cage">
                                <img src="./images/gallery-sm/4.png" alt="Gallery card">
                            </div>
                        </div>
                        <div class="card__lupa" data-action="gallery" data-section="main-gallery-3">
                            <svg width="26" height="23" viewBox="0 0 26 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                                <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white"
                                    stroke-width="2" />
                                <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                                <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                                <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                                <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            </svg>
                        </div>
                    </div>
                    <div class="gallery__card card" data-slick-index="4">
                        <div class="card__image">
                            <div class="img-cage">
                                <img src="./images/gallery-sm/5.png" alt="Gallery card">
                            </div>
                        </div>
                        <div class="card__lupa" data-action="gallery" data-section="main-gallery-3">
                            <svg width="26" height="23" viewBox="0 0 26 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                                <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white"
                                    stroke-width="2" />
                                <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                                <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                                <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                                <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/20_gallery_sm/style.css">