.main-gallery:has(.cards-2) .gallery__info {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-gallery:has(.cards-2) .gallery__info:has(.gallery__title.d-none) {
    flex-direction: column-reverse;
}

.main-gallery:has(.cards-2) .gallery__info:has(.gallery__title.d-none) .gallery__subtitle {
    order: 2;
    margin-bottom: -20px;
}

.main-gallery:has(.cards-2) .gallery__wrapper.padded-b {
    padding-bottom: 60px;
}

.main-gallery:has(.cards-2) .gallery__wrapper.padded-t {
    padding-top: 60px;
}

.main-gallery:has(.cards-2) .gallery__wrapper.padded-b .gallery__text,
.main-gallery:has(.cards-2) .gallery__wrapper.padded-t .gallery__text {
    margin-bottom: 15px;
}

.main-gallery:has(.cards-2) .gallery__wrapper.align-right .gallery__title,
.main-gallery:has(.cards-2) .gallery__wrapper.align-right .gallery__subtitle {
    text-align: right;
    margin-left: auto;
}

.main-gallery:has(.cards-2) .gallery__wrapper.align-center .gallery__title,
.main-gallery:has(.cards-2) .gallery__wrapper.align-center .gallery__subtitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-gallery:has(.cards-2) .gallery__title {
    font-size: 2.6em;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: -1%;
    margin-bottom: 0.76em;
    max-width: 571px;
}

.main-gallery:has(.cards-2) .gallery__subtitle {
    font-size: 1.5em;
    line-height: 1.26em;
    text-transform: uppercase;
}

.main-gallery:has(.cards-2) .gallery__text {
    font-size: 1.3em;
    line-height: 130.5%;
    margin-bottom: 2.15em;
}

.main-gallery:has(.cards-2) .gallery__text b {
    font-weight: 700;
}

.main-gallery:has(.cards-2) .gallery__cards {
    display: flex;
    position: relative;
}

.main-gallery:has(.cards-2) .gallery__cards .cards__row {
    display: flex;
    width: 100%;
}

.main-gallery:has(.cards-2) .gallery__cards .cards__col {
    width: calc(100% - 48.82% - 10px);
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.main-gallery .cards-2 .gallery__card {
    width: calc((100% - 10px) / 2);
    margin-right: 10px;
    margin-bottom: 10px;
    height: 205px;
    overflow: hidden;
    display: block;
    border-radius: 10px;
    position: relative;
}

.main-gallery .cards-2 .gallery__card.featured {
    width: 48.82%;
    margin: 0;
    height: 420px;
}

.main-gallery .cards-2 .gallery__card:nth-of-type(2n) {
    margin-right: 0;
}

.main-gallery .cards-2 .gallery__card:nth-of-type(3),
.main-gallery .cards-2 .gallery__card:nth-of-type(4) {
    margin-bottom: 0;
}

.main-gallery .cards-2 .gallery__card .card__image {
    width: 100%;
    height: 100%;
}

.main-gallery .cards-2 .gallery__card .card__image .img-cage {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-gallery .cards-2 .gallery__card .card__image .img-cage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.main-gallery .cards-2 .gallery__card:hover .img-cage img {
    transform: scale(1.1);
}

.main-gallery .cards-2 .gallery__arrow {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border: 1px solid var(--color-mid);
    position: absolute;
    transition: box-shadow 0.25s ease-in-out;
    top: 50%;
    transform: translateY(-50%);
    right: -18px;
    z-index: 99;
}

.main-gallery:has(.cards-2) .gallery__arrow svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-gallery:has(.cards-2) .gallery__arrow svg path {
    fill: var(--color-accent);
}

.main-gallery:has(.cards-2) .gallery__arrow:hover {
    cursor: pointer;
    box-shadow: var(--dropdown-hover);
}

.main-gallery:has(.cards-2) .gallery__arrow-left {
    right: unset;
    left: -18px;
}

.main-gallery:has(.cards-2) .gallery__card .card__lupa {
    padding: 13px;
    padding-bottom: 14px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.31);
    transition: background 0.24s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.24s ease-in-out;
}

.main-gallery:has(.cards-2) .gallery__card .card__lupa svg {
    pointer-events: none;
}

.main-gallery:has(.cards-2) .gallery__card .card__lupa:hover {
    background: var(--color-accent);
    cursor: pointer;
}

.main-gallery:has(.cards-2) .gallery__card:hover .card__lupa {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

@media (max-width: 767px) {
    .main-gallery:has(.cards-2) .gallery__wrapper.padded-b {
        padding-bottom: 50px;
    }

    .main-gallery:has(.cards-2) .gallery__wrapper.padded-t {
        padding-top: 50px;
    }

    .main-gallery .cards-2 .cards__row {
        flex-wrap: wrap;
    }

    .main-gallery .cards-2 .cards__col {
        margin: 0 !important;
        width: 100% !important;
    }

    .main-gallery .cards-2 .gallery__card {
        width: calc((100% - 10px) / 2);
        margin-right: 10px;
        height: auto;
        aspect-ratio: 135/93;
        margin-bottom: 10px !important;
    }

    .main-gallery .cards-2 .gallery__card.featured {
        height: auto;
        aspect-ratio: 135/93;
        width: calc((100% - 10px) / 2);
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0 !important;
    }

    .main-gallery .cards-2 .gallery__card:nth-of-type(2n - 1) {
        margin-right: 0;
        margin-left: 10px;
    }

    .main-gallery .cards-2 .cards__col .gallery__card:first-of-type {
        margin-left: calc((100% - 10px) / 2 + 10px);
    }

    .main-gallery .cards-2 .cards__col .gallery__card:last-of-type {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 575px) {
    .main-gallery:has(.cards-2) .gallery__wrapper.padded-b {
        padding-bottom: 40px;
    }

    .main-gallery:has(.cards-2) .gallery__wrapper.padded-t {
        padding-top: 40px;
    }

    .main-gallery:has(.cards-2) .gallery__title {
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .main-gallery:has(.cards-2) .gallery__subtitle {
        font-size: 1.3em;
    }

    .main-gallery:has(.cards-2) .gallery__text {
        line-height: 1.38em;
    }

    .main-gallery:has(.cards-2) .gallery__wrapper.padded-b .gallery__text,
    .main-gallery:has(.cards-2) .gallery__wrapper.padded-t .gallery__text {
        margin-bottom: 2.15em;
    }

    .main-gallery .cards-2 {
        flex-wrap: wrap;
    }

    .main-gallery .cards-2 .gallery__card .card__col-image .img-cage {
        min-width: 140px;
        width: 140px;
    }
}
