<section class="main-services services S_49_LINE S_49_BG MAIN_SERVICES_49">
    <div class="services__wrapper container S_49_PADDED_TOP S_49_PADDED_BOTTOM S_49_ALLIGN">
        <div class="services__info">
            <div class="services__subtitle S_49_SUBTITLE">Блок 49</div>
            <h2 class="services__title S_49_TITLE">Выполненные проекты</h2>
            <div class="services__text S_49_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или несколькими
                юридическими или физическими лицами.</div>
        </div>
        <div class="services__cards cards-49">
            <div class="services__card card">
                <div class="card__tag">Аренда строительной техники</div>
                <div class="card__wrap">
                    <div class="card__title">Аренда строительной техники</div>
                    <a class="card__btn">Подробнее</a>
                </div>
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/49/1.png" alt="Service card">
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__tag">Проекты двухэтажных домов</div>
                <div class="card__wrap">
                    <div class="card__title">Проекты двухэтажных домов</div>
                    <a class="card__btn">Подробнее</a>
                </div>
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/49/2.png" alt="Service card">
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__tag">Проектирование газона на участке</div>
                <div class="card__wrap">
                    <div class="card__title">Проектирование газона на участке</div>
                    <a class="card__btn">Подробнее</a>
                </div>
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/49/3.png" alt="Service card">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/4_services/v_49/style.css">