<section class="main-services services SERVICES_LINE SERVICES_BG MAIN_SERVICES_1_2">
    <div class="services__wrapper container SERVICES_PADDED_TOP SERVICES_PADDED_BOTTOM SERVICES_ALLIGN">
        <div class="services__info">
            <div class="services__subtitle SERVICES_SUBTITLE">Блок 1</div>
            <h2 class="services__title SERVICES_TITLE">Наши услуги 1</h2>
            <div class="services__text SERVICES_TEXT"><b>Вид 1.</b> Цель нашей компании - сократить издержки, увеличить
                обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и
                ищем узкие места. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места..
                Цель нашей компании - сократить издержки.</div>
            <a href="" class="services__all">
                <p>Все услуги</p>
                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.71107 4.10927L1.77692 0.161609C1.5479 -0.0539542 1.19759 -0.0539541 0.981984 0.161609C0.766421 0.377172 0.766421 0.740939 0.981984 0.95654L4.52541 4.49997L0.981985 8.0434C0.766422 8.27241 0.766422 8.62273 0.981985 8.83833C1.19755 9.05389 1.54785 9.05389 1.77692 8.83833L5.71107 4.90417C5.92664 4.67516 5.92664 4.32484 5.71107 4.10924L5.71107 4.10927Z"
                        fill="var(--color-dark)" />
                </svg>
            </a>
        </div>
        <div class="services__cards v_services__cards-3-wide">
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/1-2/services__img-1.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Высотные здания из металлоконструкций</div>
                    <div class="card__text">Весь товар сертифицирован</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/1-2/services__img-2.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Английский для IT специалиста</div>
                    <div class="card__text">Новый корпус и интегрированная система сенсоров</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/1-2/services__img-3.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Бухгалтерское обслуживание организаций</div>
                    <div class="card__text">Новый корпус и интегрированная система сенсоров вторая строчка</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/1-2/services__img-4.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Разработка бизнес-планов</div>
                    <div class="card__text">Новый корпус и интегрированная система сенсоров</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/1-2/services__img-5.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Дизайн квартир</div>
                    <div class="card__text">Новый корпус и интегрированная система сенсоров</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/1-2/services__img-6.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Парикмахерские услуги</div>
                    <div class="card__text">Весь товар сертифицирован</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-services services SERVICES_LINE SERVICES_BG MAIN_SERVICES_1_2">
    <div class="services__wrapper container SERVICES_PADDED_TOP SERVICES_PADDED_BOTTOM SERVICES_ALLIGN">
        <div class="services__info">
            <div class="services__subtitle SERVICES_SUBTITLE">Блок 2</div>
            <h2 class="services__title SERVICES_TITLE">Наши товары 2</h2>
            <div class="services__text SERVICES_TEXT"><b>Вид 1.</b> Цель нашей компании - сократить издержки, увеличить
                обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и
                ищем узкие места. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места..
                Цель нашей компании - сократить издержки.</div>
            <a href="" class="services__all">
                <p>Все товары</p>
                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.71107 4.10927L1.77692 0.161609C1.5479 -0.0539542 1.19759 -0.0539541 0.981984 0.161609C0.766421 0.377172 0.766421 0.740939 0.981984 0.95654L4.52541 4.49997L0.981985 8.0434C0.766422 8.27241 0.766422 8.62273 0.981985 8.83833C1.19755 9.05389 1.54785 9.05389 1.77692 8.83833L5.71107 4.90417C5.92664 4.67516 5.92664 4.32484 5.71107 4.10924L5.71107 4.10927Z"
                        fill="var(--color-dark)" />
                </svg>
            </a>
        </div>
        <div class="services__cards v_services__cards-3-wide">
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/1-2/services__img-7.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Товары для автомобиля</div>
                    <div class="card__text">150 товаров от 7 производителей</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/1-2/services__img-8.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Садовые инструменты</div>
                    <div class="card__text">150 товаров от 7 производителей</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/1-2/services__img-9.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Бытовая техника</div>
                    <div class="card__text">150 товаров от 7 производителей</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/1-2/services__img-10.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Красота</div>
                    <div class="card__text">Новый корпус и интегрированная система сенсоров</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/1-2/services__img-11.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Строительство</div>
                    <div class="card__text">150 товаров от 7 производителей</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/1-2/services__img-12.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Одежда и обувь</div>
                    <div class="card__text">Весь товар сертифицирован</div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/4_services/v_1-2/style.css">