.main-services:has(.v_services__cards-3-wide) .services__info {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-services:has(.v_services__cards-3-wide) .services__info:has(.services__title.d-none) {
    flex-direction: column-reverse;
}

.main-services:has(.v_services__cards-3-wide) .services__info:has(.services__title.d-none) .services__subtitle {
    order: 2;
    margin-bottom: -20px;
}

.main-services:has(.v_services__cards-3-wide) .services__info:has(.services__subtitle.d-none) .services__all {
    top: 9px;
}

.main-services:has(.v_services__cards-3-wide) .services__info .services__all {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    display: block;
    font-size: 1.5em;
    line-height: 1.33em;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.main-services:has(.v_services__cards-3-wide) .d-none.services__title ~ .services__all {
    position: relative;
    margin-bottom: 1.3em;
    justify-content: flex-end;
}

.main-services:has(.v_services__cards-3-wide) .services__info .services__all svg {
    margin-left: 6px;
    margin-bottom: -2px;
}

.main-services:has(.v_services__cards-3-wide) .services__info .services__all:hover {
    color: var(--color-accent);
}

.main-services:has(.v_services__cards-3-wide) .services__info .services__all svg path {
    transition: all 0.2s ease-in-out;
}

.main-services:has(.v_services__cards-3-wide) .services__info .services__all:hover svg path {
    fill: var(--color-accent);
}

.main-services:has(.v_services__cards-3-wide) .services__wrapper.padded-b {
    padding-bottom: 60px;
}

.main-services:has(.v_services__cards-3-wide) .services__wrapper.padded-t {
    padding-top: 60px;
}

.main-services:has(.v_services__cards-3-wide) .services__wrapper.padded-b .services__text,
.main-services:has(.v_services__cards-3-wide) .services__wrapper.padded-t .services__text {
    margin-bottom: 15px;
}

.main-services:has(.v_services__cards-3-wide) .v_services__wrapper-align-right .services__title,
.main-services:has(.v_services__cards-3-wide) .v_services__wrapper-align-right .services__subtitle {
    text-align: right;
    margin-left: auto;
}

.main-services:has(.v_services__cards-3-wide) .v_services__wrapper-align-center .services__title,
.main-services:has(.v_services__cards-3-wide) .v_services__wrapper-align-center .services__subtitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-services:has(.v_services__cards-3-wide) .v_services__wrapper-align-center .services__all,
.main-services:has(.v_services__cards-3-wide) .v_services__wrapper-align-right .services__all {
    display: none;
}

.main-services:has(.v_services__cards-3-wide) .services__title {
    font-size: 2.6em;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: -1%;
    margin-bottom: 0.76em;
    max-width: 571px;
}

.main-services:has(.v_services__cards-3-wide) .services__subtitle {
    font-size: 1.5em;
    line-height: 1.26em;
    text-transform: uppercase;
}

.main-services:has(.v_services__cards-3-wide) .services__text {
    font-size: 1.3em;
    line-height: 130.5%;
    margin-bottom: 2.15em;
}

.main-services:has(.v_services__cards-3-wide) .services__text b {
    font-weight: 700;
}

.main-services:has(.v_services__cards-3-wide) .services__cards {
    display: flex;
    flex-wrap: wrap;
}

.main-services .v_services__cards-3-wide .services__card:nth-of-type(1) {
    margin-bottom: 10px;
}

.main-services .v_services__cards-3-wide .services__card {
    width: calc((100% - 10px * 3) / 4);
    margin-right: 10px;
    height: 237px;
    overflow: hidden;
    display: block;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main-services .v_services__cards-3-wide .services__card:nth-of-type(3n) {
    margin-right: 0;
}

.main-services .v_services__cards-3-wide .services__card:nth-of-type(6n),
.main-services .v_services__cards-3-wide .services__card:nth-of-type(6n - 5) {
    width: calc((100% - 10px) / 2);
}

.main-services .v_services__cards-3-wide .services__card .card-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-services .v_services__cards-3-wide .services__card .card-wrap:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8) 99.156%);
    content: "";
    transition: all 0.3s ease-in-out;
}

.main-services .v_services__cards-3-wide .services__card .card-wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-services .v_services__cards-3-wide .services__card .card__wrap {
    padding: 20px;
    position: relative;
    z-index: 99;
    color: var(--color-light-fixed);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.main-services .v_services__cards-3-wide .services__card .card__title {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3em;
}

.main-services .v_services__cards-3-wide .services__card .card__text {
    font-size: 1.3em;
    line-height: 1.38em;
    margin-top: 3px;
}

.main-services .v_services__cards-3-wide .services__card:hover .card-wrap:after {
    opacity: 0.7;
}

.main-services .v_services__cards-3-wide .services__card .card-wrap img {
    transition: all 0.3s ease-in-out;
}

.main-services .v_services__cards-3-wide .services__card:hover .card-wrap img {
    transform: scale(1.1);
}

.main-services .v_services__cards-3-wide .services__card:hover .card__wrap {
    padding-bottom: 30px;
}

@media (max-width: 767px) and (min-width: 576px) {
    .main-services:has(.v_services__cards-3-wide) .services__wrapper.padded-b {
        padding-bottom: 50px;
    }

    .main-services:has(.v_services__cards-3-wide) .services__wrapper.padded-t {
        padding-top: 50px;
    }

    .main-services .v_services__cards-3-wide .services__card {
        width: calc(50% - 5px);
        margin-right: 10px !important;
        margin-bottom: 9px;
    }

    .main-services .v_services__cards-3-wide .services__card:nth-of-type(2n) {
        margin-right: 0 !important;
    }
}

@media (max-width: 575px) and (min-width: 0px) {
    .main-services:has(.v_services__cards-3-wide) .services__wrapper.padded-b {
        padding-bottom: 40px;
    }

    .main-services:has(.v_services__cards-3-wide) .services__wrapper.padded-t {
        padding-top: 40px;
    }

    .main-services:has(.v_services__cards-3-wide) .services__title {
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .main-services:has(.v_services__cards-3-wide) .services__subtitle {
        font-size: 1.3em;
    }

    .main-services:has(.v_services__cards-3-wide) .services__text {
        line-height: 1.38em;
    }

    .main-services:has(.v_services__cards-3-wide) .services__wrapper.padded-b .services__text,
    .main-services:has(.v_services__cards-3-wide) .services__wrapper.padded-t .services__text {
        margin-bottom: 2.15em;
    }

    .main-services .v_services__cards-3-wide .services__card {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 9px;
    }

    .main-services .v_services__cards-3-wide .services__card .card__wrap {
        padding: 20px 15px;
    }

    .main-services .v_services__cards-3-wide .services__card:last-of-type {
        margin-bottom: 0;
    }

    .main-services:has(.v_services__cards-3-wide) .services__info:has(.services__subtitle.d-none) .services__all {
        top: 0;
    }
}
