<section class="main-instagram instagram B_91_LINE B_91_BG BLOCK_91">
    <div class="instagram__wrapper container B_91_PADDED_TOP B_91_PADDED_BOTTOM B_91_ALLIGN">
        <div class="instagram__info">
            <div class="instagram__subtitle B_91_SUBTITLE">Блок 91</div>
            <h2 class="instagram__title B_91_TITLE">Instagram 2</h2>
            <div class="instagram__text B_91_TEXT">ООО "Компания" — учрежденное одним или несколькими юридическими или
                физическими лицами.</div>
        </div>
        <div class="instagram__cards cards-2">
            <div class="instagram__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <img src="./images/instagram/8.png" alt="Instagram card">
                        </div>
                    </div>
                </div>
                <div class="card-wrap">
                    <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                        организаций после реорганизации предприятия. Бухгалтерское обслуживание организаций. Комплексное
                        обслуживание ваших частных организаций после реорганизации предприятия.</div>
                    <div class="card__date">01.11.2022</div>
                </div>
            </div>
            <div class="instagram__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <img src="./images/instagram/9.png" alt="Instagram card">
                        </div>
                    </div>
                </div>
                <div class="card-wrap">
                    <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                        организаций после реорганизации предприятия.</div>
                    <div class="card__date">01.11.2022</div>
                </div>
            </div>
            <div class="instagram__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <img src="./images/instagram/10.png" alt="Instagram card">
                        </div>
                    </div>
                </div>
                <div class="card-wrap">
                    <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                        организаций после реорганизации предприятия.</div>
                    <div class="card__date">01.11.2022</div>
                </div>
            </div>
            <div class="instagram__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <img src="./images/instagram/11.png" alt="Instagram card">
                        </div>
                    </div>
                </div>
                <div class="card-wrap">
                    <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                        организаций после реорганизации предприятия.</div>
                    <div class="card__date">01.11.2022</div>
                </div>
            </div>
            <div class="instagram__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <img src="./images/instagram/12.png" alt="Instagram card">
                        </div>
                    </div>
                </div>
                <div class="card-wrap">
                    <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                        организаций после реорганизации предприятия.</div>
                    <div class="card__date">01.11.2022</div>
                </div>
            </div>
            <div class="instagram__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <img src="./images/instagram/13.png" alt="Instagram card">
                        </div>
                    </div>
                </div>
                <div class="card-wrap">
                    <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                        организаций после реорганизации предприятия.</div>
                    <div class="card__date">01.11.2022</div>
                </div>
            </div>
            <div class="instagram__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <img src="./images/instagram/14.png" alt="Instagram card">
                        </div>
                    </div>
                </div>
                <div class="card-wrap">
                    <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                        организаций после реорганизации предприятия.</div>
                    <div class="card__date">01.11.2022</div>
                </div>
            </div>
            <div class="instagram__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <img src="./images/instagram/15.png" alt="Instagram card">
                        </div>
                    </div>
                </div>
                <div class="card-wrap">
                    <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                        организаций после реорганизации предприятия.</div>
                    <div class="card__date">01.11.2022</div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/26_instagram/v_2/style.css">