.page-title {
    margin-bottom: 1.15em;
    text-align: center;
    margin-bottom: 0;
}

.page-subtitle {
    max-width: 900px;
    font-size: 1.3em;
    margin-top: 1.53em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.38em;
}

.content__wrapper {
    margin-bottom: 60px;
}

.recovery__form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
}

.recovery__form .form__field .field-tip {
    color: var(--settings-side-text);
    font-size: 1.2em;
    margin-top: 5px;
    display: block;
}

.recovery__form .form__field:has(input:invalid:not(:focus)) .field-tip {
    display: none;
}

.recovery__form .form__field:has(input:invalid:placeholder-shown) .field-tip {
    display: block;
}

.recovery__form .form__submit .main-cta {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 575px) {
    .content__wrapper {
        margin-bottom: 40px;
    }

    .recovery__form {
        margin-top: 20px;
    }

    .recovery__form .form__submit .main-cta {
        width: 100%;
    }
}
