.main-services:has(.cards-19) .services__row {
    position: relative;
    display: flex;
}

.main-services:has(.cards-19) .services__row .services__info {
    width: 36%;
    padding-right: 60px;
}

.main-services:has(.cards-19) .services__row .services__cards {
    width: 64%;
    height: fit-content;
}

.main-services:has(.cards-19) .services__wrapper.padded-b {
    padding-bottom: 60px;
}

.main-services:has(.cards-19) .services__wrapper.padded-t {
    padding-top: 60px;
}

.main-services:has(.cards-19) .services__wrapper.padded-b .services__text,
.main-services:has(.cards-19) .services__wrapper.padded-t .services__text {
    margin-bottom: 15px;
}

.main-services:has(.cards-19) .services__title {
    font-size: 2.6em;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: -1%;
    margin-bottom: 0.76em;
    max-width: 571px;
}

.main-services:has(.cards-19) .services__subtext {
    font-size: 1.9em;
    margin-bottom: 1.05em;
    font-weight: 400;
}

.main-services:has(.cards-19) .services__subtitle {
    font-size: 1.5em;
    line-height: 1.26em;
    text-transform: uppercase;
}

.main-services:has(.cards-19) .services__text {
    font-size: 1.3em;
    line-height: 130.5%;
    margin-bottom: 2.15em;
}

.main-services:has(.cards-19) .services__text b {
    font-weight: 700;
}

.main-services:has(.cards-19) .services__cards {
    display: flex;
    flex-wrap: wrap;
}

.main-services .cards-19 .services__card {
    max-width: calc((100% - 10px * 2) / 3);
    height: auto;
    flex-grow: 1;
    overflow: hidden;
    display: block;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--color-mid);
    transition: box-shadow .24s ease-in-out;
    margin-right: 10px;
    margin-bottom: 10px;
}

.main-services .cards-19 .services__card:nth-of-type(3n) {
    margin-right: 0;
}

.main-services .cards-19 .services__card .card-wrap {
    position: relative;
    aspect-ratio: 354/220;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-services .cards-19 .services__card .card-wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-services .cards-19 .services__card .card__wrap {
    padding: 20px;
    position: relative;
    z-index: 99;
    color: var(--color-dark);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    transition: all .3s ease-in-out;
}

.main-services .cards-19 .services__card .card__title {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.38em;
    width: fit-content;
    transition: all .3s ease-in-out;
}

.main-services .cards-19 .services__card .card-wrap img {
    transition: all .3s ease-in-out;
}

.main-services .cards-19 .services__card:hover .card-wrap img {
    transform: scale(1.1);
}

.main-services .cards-19 .services__card:hover {
    box-shadow: var(--cards-hover);
}

@media (max-width: 1110px) {
    .main-services:has(.cards-19) .services__row {
        flex-direction: column;
    }

    .main-services:has(.cards-19) .services__row .services__info {
        margin-bottom: 30px;
    }

    .main-services:has(.cards-19) .services__row .services__info,
    .main-services:has(.cards-19) .services__row .services__cards {
        width: 100%;
        padding: 0;
    }

    .main-services .cards-19 .services__card {
        aspect-ratio: unset;
        height: auto;
        flex-grow: 1;
    }
}

@media (max-width: 730px) {
    .main-services .services__wrapper .cards-19 .services__card {
        max-width: calc((100% - 10px) / 2);
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .main-services .services__wrapper .cards-19 .services__card:nth-of-type(2n) {
        margin-right: 0;
    }

    .main-services .cards-19 .services__card .card-wrap {
        aspect-ratio: 137/86;
        height: auto;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .main-services:has(.cards-19) .services__wrapper.padded-b {
        padding-bottom: 50px;
    }

    .main-services:has(.cards-19) .services__wrapper.padded-t {
        padding-top: 50px;
    }

    .main-services .cards-19 .services__subtext {
        font-size: 1.5em;
    }

    .main-services .cards-19 .services__card .card__wrap {
        padding: 15px 8px;
    }

    .main-services .cards-19 .services__card .card__title {
        text-align: center;
        width: 100%;
        word-break: break-word;
    }
}

@media (max-width: 575px) {
    .main-services:has(.cards-19) .services__wrapper.padded-b {
        padding-bottom: 40px;
    }

    .main-services:has(.cards-19) .services__wrapper.padded-t {
        padding-top: 40px;
    }

    .main-services:has(.cards-19) .services__title {
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .main-services:has(.cards-19) .services__subtitle {
        font-size: 1.3em;
    }

    .main-services:has(.cards-19) .services__text {
        line-height: 1.38em;
    }

    .main-services:has(.cards-19) .services__wrapper.padded-b .services__text,
    .main-services:has(.cards-19) .services__wrapper.padded-t .services__text {
        margin-bottom: 2.15em;
    }

    .main-services .cards-19 .services__card {
        width: 100%;
        margin-right: 0;
    }

    .main-services .cards-19 .services__card .card__wrap {
        padding: 20px 15px;
    }

    .main-services .cards-19 .services__card:last-of-type {
        margin-bottom: 0;
    }
}