<section class="main-big-banner big-banner B_75_LINE B_75_BG BLOCK_75">
    <div class="big-banner__wrapper container B_75_PADDED_TOP B_75_PADDED_BOTTOM B_75_ALLIGN">
        <div class="big-banner__info">
            <div class="big-banner__subtitle B_75_SUBTITLE">Блок 75</div>
            <h2 class="big-banner__title B_75_TITLE">Баннер длинный на всю ширину</h2>
            <div class="big-banner__text B_75_TEXT">ООО "Компания" — учрежденное одним или несколькими юридическими или
                физическими лицами.</div>
            <div class="big-banner__wrap wrap">
                <div class="text-cage">
                    <div class="wrap__title">строительство</div>
                    <div class="wrap__subtitle">двухэтажных жилых домов</div>
                </div>
            </div>
        </div>
        <div class="big-banner__content content">
            <div class="content-wrap">
                <div class="image-big">
                    <img src="./images/big-banner/big.png" alt="">
                </div>
                <div class="image-small">
                    <img src="./images/big-banner/small.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/22_big_banner/style.css">