<section class="main-tiles tiles MAIN_TILES TILES_LINE TILES_BG">
    <div class="tiles__wrapper TILES_PADDED_TOP TILES_PADDED_BOTTOM">
        <div class="tiles__wrapper-item cta" data-action="info-page" data-url="ajax/popup.php" data-id="1">
            <div class="img-cage">
                <img src="images/tiles/tile_img-1.png" alt="">
            </div>
            <div class="title-cage">Фундаментные работы</div>
        </div>
        <div class="tiles__wrapper-item cta" data-action="info-page" data-url="ajax/popup.php" data-id="1">
            <div class="img-cage">
                <img src="images/tiles/tile_img-2.png" alt="">
            </div>
            <div class="title-cage">сварочные работы</div>
        </div>
        <div class="tiles__wrapper-item cta" data-action="info-page" data-url="ajax/popup.php" data-id="1">
            <div class="img-cage">
                <img src="images/tiles/tile_img-3.png" alt="">
            </div>
            <div class="title-cage">Ремонтные работы</div>
        </div>
        <div class="tiles__wrapper-item cta" data-action="info-page" data-url="ajax/popup.php" data-id="1">
            <div class="img-cage">
                <img src="images/tiles/tile_img-4.png" alt="">
            </div>
            <div class="title-cage">Укладка плитки</div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/2_tiles/style.css">