<section class="main-projects projects B_69_LINE B_69_BG BLOCK_69">
    <div class="projects__wrapper container B_69_PADDED_TOP B_69_PADDED_BOTTOM B_69_ALLIGN">
        <div class="projects__info">
            <div class="projects__subtitle B_69_SUBTITLE">Блок 69</div>
            <h2 class="projects__title B_69_TITLE">Выполненные проекты</h2>
            <div class="projects__text B_69_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или несколькими
                юридическими или физическими лицами.</div>
        </div>
        <div class="projects__cards cards">
            <div class="cards__row">
                <div class="cards__col">
                    <div class="cards__item featured item">
                        <div class="item-wrap">
                            <div class="img-cage">
                                <img src="./images/projects/1.png" alt="">
                            </div>
                        </div>
                        <div class="item__wrap">
                            <div class="item__tag">Мытье и восстановление авто</div>
                            <div class="item__title">Детейлинг легковых автомобилей</div>
                            <div class="item__date">05 августа 2021</div>
                        </div>
                    </div>
                </div>
                <div class="cards__col">
                    <div class="cards__item item">
                        <div class="item-wrap">
                            <div class="img-cage">
                                <img src="./images/projects/2.png" alt="">
                            </div>
                        </div>
                        <div class="item__wrap">
                            <div class="item__tag">Подзаголовок с длинным названием Подзаголовок с длинным названием в
                                две строки</div>
                            <div class="item__date">05 августа 2021</div>
                            <div class="item__title">Дизайн корпусной и мягкой мебели для интерьера загородного дома
                            </div>
                        </div>
                    </div>
                    <div class="cards__item item">
                        <div class="item-wrap">
                            <div class="img-cage">
                                <img src="./images/projects/3.png" alt="">
                            </div>
                        </div>
                        <div class="item__wrap">
                            <div class="item__tag">Работа с бровями</div>
                            <div class="item__date">05 августа 2021</div>
                            <div class="item__title">Комплекс работ топ-мастера по коррекции бровей с ламинированием в
                                технике, сохраняющей натуральный и естественный вид роста волосков</div>
                        </div>
                    </div>
                    <div class="cards__item item">
                        <div class="item-wrap">
                            <div class="img-cage">
                                <img src="./images/projects/4.png" alt="">
                            </div>
                        </div>
                        <div class="item__wrap">
                            <div class="item__tag">Строительство</div>
                            <div class="item__date">05 августа 2021</div>
                            <div class="item__title">Подготовка к покраске и покраска стен и потолков подсобного
                                помещения на предприятии в г. Гомель</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/17_projects/style.css">