<section class="main-partners partners B_61_LINE B_61_BG BLOCK_61">
    <div class="partners__wrapper container B_61_PADDED_TOP B_61_PADDED_BOTTOM B_61_ALLIGN">
        <div class="partners__row">
            <div class="partners__col partners__info">
                <div class="partners__subtitle B_61_SUBTITLE">Блок 61</div>
                <h2 class="partners__title B_61_TITLE">Наши партнеры 4</h2>
                <div class="partners__text B_61_TEXT">ООО "Компания" — учрежденное одним или несколькими юридическими
                    или физическими лицами хозяйственное общество. Участники общества не отвечают по его обязательствам
                    и несут риск убытков.<br><br>Выберете свой вариант и оставьте заявку в режиме “онлайн”.</div>
                <a class="partners__btn main-btn-sm">Все партнеры</a>
            </div>
            <div class="partners__col partners__cards cards-4">
                <div class="partners__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/partners/1.png" alt="Partner card">
                        </div>
                    </div>
                </div>
                <div class="partners__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/partners/2.png" alt="Partner card">
                        </div>
                    </div>
                </div>
                <div class="partners__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/partners/3.png" alt="Partner card">
                        </div>
                    </div>
                </div>
                <div class="partners__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/partners/4.png" alt="Partner card">
                        </div>
                    </div>
                </div>
                <div class="partners__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/partners/5.png" alt="Partner card">
                        </div>
                    </div>
                </div>
                <div class="partners__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/partners/6.png" alt="Partner card">
                        </div>
                    </div>
                </div>
                <div class="partners__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/partners/7.png" alt="Partner card">
                        </div>
                    </div>
                </div>
                <div class="partners__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/partners/8.png" alt="Partner card">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/10_partners/v_4/style.css">