<section class="main-services services S_36_37_LINE S_36_37_BG MAIN_SERVICES_36_37">
    <div class="services__wrapper container S_36_37_PADDED_TOP S_36_37_PADDED_BOTTOM S_36_37_ALLIGN">
        <div class="services__info">
            <div class="services__subtitle S_36_37_SUBTITLE">Блок 36</div>
            <h2 class="services__title S_36_37_TITLE">Наши услуги 31.1</h2>
            <div class="services__text S_36_37_TEXT"><b>Вид 7.</b> За 5 лет работы мы реализовали свыше 100 ярких
                проектов. Делимся лучшим!</div>
            <a href="" class="services__all">
                <p>Все услуги</p>
                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.71107 4.10927L1.77692 0.161609C1.5479 -0.0539542 1.19759 -0.0539541 0.981984 0.161609C0.766421 0.377172 0.766421 0.740939 0.981984 0.95654L4.52541 4.49997L0.981985 8.0434C0.766422 8.27241 0.766422 8.62273 0.981985 8.83833C1.19755 9.05389 1.54785 9.05389 1.77692 8.83833L5.71107 4.90417C5.92664 4.67516 5.92664 4.32484 5.71107 4.10924L5.71107 4.10927Z"
                        fill="var(--color-dark)" />
                </svg>
            </a>
        </div>
        <div class="services__cards cards-36">
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/1.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Салон красоты</div>
                        <div class="card__text">В нашем каталоге вы можете выбрать любую услугу</div>
                        <div class="card__tags">
                            <a href="">Реорганизация предприятия</a>
                            <a href="">Бухгалтерское обслуживание организаций</a>
                            <a href="">Постановка налогового учета</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/2.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Дизайн интерьеров</div>
                        <div class="card__text">В нашем каталоге вы можете выбрать любую услугу</div>
                        <div class="card__tags">
                            <a href="">Реорганизация предприятия</a>
                            <a href="">Бухгалтерское обслуживание организаций</a>
                            <a href="">Постановка налогового учета</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/3.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Школа по автоспорту</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/4.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Бухгалтерские услуги</div>
                        <div class="card__text">В нашем каталоге вы можете выбрать любую услугу</div>
                        <div class="card__tags">
                            <a href="">Реорганизация предприятия</a>
                            <a href="">Бухгалтерское обслуживание организаций</a>
                            <a href="">Постановка налогового учета</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/5.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Ландшафтное проектирование</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/6.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Проектирование домов</div>
                        <div class="card__text">В нашем каталоге вы можете выбрать любую услугу</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/7.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Школа танцев</div>
                        <div class="card__text">В нашем каталоге вы можете выбрать любую услугу</div>
                        <div class="card__tags">
                            <a href="">Реорганизация предприятия</a>
                            <a href="">Бухгалтерское обслуживание организаций</a>
                            <a href="">Постановка налогового учета</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/8.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Репетитор английского языка</div>
                        <div class="card__tags">
                            <a href="">Реорганизация предприятия</a>
                            <a href="">Бухгалтерское обслуживание организаций</a>
                            <a href="">Постановка налогового учета</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-services services S_36_37_LINE S_36_37_BG MAIN_SERVICES_36_37">
    <div class="services__wrapper container S_36_37_PADDED_TOP S_36_37_PADDED_BOTTOM S_36_37_ALLIGN">
        <div class="services__info">
            <div class="services__subtitle S_36_37_SUBTITLE">Блок 37</div>
            <h2 class="services__title S_36_37_TITLE">Наши товары 32.1</h2>
            <div class="services__text S_36_37_TEXT"><b>Вид 7.</b> За 5 лет работы мы реализовали свыше 100 ярких
                проектов. Делимся лучшим!</div>
            <a href="" class="services__all">
                <p>Все услуги</p>
                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.71107 4.10927L1.77692 0.161609C1.5479 -0.0539542 1.19759 -0.0539541 0.981984 0.161609C0.766421 0.377172 0.766421 0.740939 0.981984 0.95654L4.52541 4.49997L0.981985 8.0434C0.766422 8.27241 0.766422 8.62273 0.981985 8.83833C1.19755 9.05389 1.54785 9.05389 1.77692 8.83833L5.71107 4.90417C5.92664 4.67516 5.92664 4.32484 5.71107 4.10924L5.71107 4.10927Z"
                        fill="var(--color-dark)" />
                </svg>
            </a>
        </div>
        <div class="services__cards cards-36">
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/9.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Товары для автомобиля</div>
                        <div class="card__text">В нашем каталоге вы можете выбрать любую услугу</div>
                        <div class="card__tags">
                            <a href="">Реорганизация предприятия</a>
                            <a href="">Бухгалтерское обслуживание организаций</a>
                            <a href="">Постановка налогового учета</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/10.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Одежда и обувь</div>
                        <div class="card__text">В нашем каталоге вы можете выбрать любую услугу</div>
                        <div class="card__tags">
                            <a href="">Реорганизация предприятия</a>
                            <a href="">Бухгалтерское обслуживание организаций</a>
                            <a href="">Постановка налогового учета</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/11.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Бытовая техника</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/12.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Красота</div>
                        <div class="card__text">В нашем каталоге вы можете выбрать любую услугу</div>
                        <div class="card__tags">
                            <a href="">Реорганизация предприятия</a>
                            <a href="">Бухгалтерское обслуживание организаций</a>
                            <a href="">Постановка налогового учета</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/13.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Строительство</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/14.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Мебель</div>
                        <div class="card__text">В нашем каталоге вы можете выбрать любую услугу</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/15.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Велосипеды</div>
                        <div class="card__text">В нашем каталоге вы можете выбрать любую услугу</div>
                        <div class="card__tags">
                            <a href="">Реорганизация предприятия</a>
                            <a href="">Бухгалтерское обслуживание организаций</a>
                            <a href="">Постановка налогового учета</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/36-37/16.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Товары для офиса</div>
                        <div class="card__tags">
                            <a href="">Реорганизация предприятия</a>
                            <a href="">Бухгалтерское обслуживание организаций</a>
                            <a href="">Постановка налогового учета</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/4_services/v_36-37/style.css">