<section class="main-services services S_28_29_LINE S_28_29_BG MAIN_SERVICES_28_29">
    <div class="services__wrapper container S_28_29_PADDED_TOP S_28_29_PADDED_BOTTOM S_28_29_ALLIGN">
        <div class="services__info">
            <div class="services__subtitle S_28_29_SUBTITLE">Блок 28</div>
            <h2 class="services__title S_28_29_TITLE">Наши услуги 27</h2>
            <div class="services__text S_28_29_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или несколькими
                юридическими или физическими лицами.</div>
        </div>
        <div class="services__cards cards-28">
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/1.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Бухгалтерские услуги</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/2.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Бизнес-планирование</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/3.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Салон красоты</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/4.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Ремонт и строительство</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/5.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Металлоконструкции</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/6.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Проектирование домов</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/7.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Дизайн интерьера</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/8.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Ландшафтное проектирование</div>
                </div>
            </div>
        </div>
        <div class="services__btn main-btn-sm">Показать еще</div>
    </div>
</section>
<section class="main-services services S_28_29_LINE S_28_29_BG MAIN_SERVICES_28_29">
    <div class="services__wrapper container S_28_29_PADDED_TOP S_28_29_PADDED_BOTTOM S_28_29_ALLIGN">
        <div class="services__info">
            <div class="services__subtitle S_28_29_SUBTITLE">Блок 29</div>
            <h2 class="services__title S_28_29_TITLE">Наши товары 28</h2>
            <div class="services__text S_28_29_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или несколькими
                юридическими или физическими лицами.</div>
        </div>
        <div class="services__cards cards-28">
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/9.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Автомобильные шины</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/10.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Кошельки</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/11.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Соковыжималки электрические</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/12.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Женская парфюмерия</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/13.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">Смесители</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/14.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">компьютерные и письменные столы</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/15.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">детские автокресла</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/services/28-29/16.png" alt="Service card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__title">сумки</div>
                </div>
            </div>
        </div>
        <div class="services__btn main-btn-sm">Показать еще</div>
    </div>
</section>
<link rel="stylesheet" href="components/4_services/v_28-29/style.css">