<section class="main-services services s_3_4_line s_3_4_bg MAIN_SERVICES_3_4">
    <div class="services__wrapper container s_3_4_padded_top s_3_4_padded_bottom s_3_4_allign">
        <div class="services__info">
            <div class="services__subtitle s_3_4_subtitle">Блок 3</div>
            <h2 class="services__title s_3_4_title">Наши услуги 3</h2>
            <div class="services__text s_3_4_text"><b>Вид 1.</b> Цель нашей компании - сократить издержки, увеличить
                обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и
                ищем узкие места. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места..
                Цель нашей компании - сократить издержки.</div>
            <a href="" class="services__all">
                <p>Все товары</p>
                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.71107 4.10927L1.77692 0.161609C1.5479 -0.0539542 1.19759 -0.0539541 0.981984 0.161609C0.766421 0.377172 0.766421 0.740939 0.981984 0.95654L4.52541 4.49997L0.981985 8.0434C0.766422 8.27241 0.766422 8.62273 0.981985 8.83833C1.19755 9.05389 1.54785 9.05389 1.77692 8.83833L5.71107 4.90417C5.92664 4.67516 5.92664 4.32484 5.71107 4.10924L5.71107 4.10927Z"
                        fill="var(--color-dark)" />
                </svg>
            </a>
        </div>
        <div class="services__cards cards-3">
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/1.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Разработка бизнес-планов</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/2.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Бухгалтерское обслуживание организаций</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/3.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Ногтевой сервис</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/4.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Сантехнические работы</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/5.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Технико-экономическое обоснование</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/6.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Маркетинговые исследования</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/7.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Парикмахерские услуги</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/8.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Высотные здания из металлоконструкций</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/9.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Тату и пирсинг</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/10.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Омоложение</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-services services s_3_4_line s_3_4_bg MAIN_SERVICES_3_4">
    <div class="services__wrapper container s_3_4_padded_top s_3_4_padded_bottom s_3_4_allign">
        <div class="services__info">
            <div class="services__subtitle s_3_4_subtitle">Блок 4</div>
            <h2 class="services__title s_3_4_title">Наши товары 4</h2>
            <div class="services__text s_3_4_text"><b>Вид 1.</b> Цель нашей компании - сократить издержки, увеличить
                обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и
                ищем узкие места. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места..
                Цель нашей компании - сократить издержки.</div>
            <a href="" class="services__all">
                <p>Все услуги</p>
                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.71107 4.10927L1.77692 0.161609C1.5479 -0.0539542 1.19759 -0.0539541 0.981984 0.161609C0.766421 0.377172 0.766421 0.740939 0.981984 0.95654L4.52541 4.49997L0.981985 8.0434C0.766422 8.27241 0.766422 8.62273 0.981985 8.83833C1.19755 9.05389 1.54785 9.05389 1.77692 8.83833L5.71107 4.90417C5.92664 4.67516 5.92664 4.32484 5.71107 4.10924L5.71107 4.10927Z"
                        fill="var(--color-dark)" />
                </svg>
            </a>
        </div>
        <div class="services__cards cards-3">
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/11.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Колесные диски</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/12.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Соковыжималки электрические</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/13.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Женские ботинки</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/14.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Губная помада</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/15.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Автомобильные видеорегистраторы</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/16.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Смесители</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/17.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Женские свитера и кардиганы</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/18.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Сумки</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/19.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Проекторы</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/3-4/20.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Велосипеды</div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/4_services/v_3-4/style.css">