<section class="main-gallery gallery-slider gallery B_92_LINE B_92_BG BLOCK_92">
    <div class="gallery__wrapper container B_92_PADDED_TOP B_92_PADDED_BOTTOM B_92_ALLIGN">
        <div class="gallery__info">
            <div class="gallery__subtitle B_92_SUBTITLE">Блок 92</div>
            <h2 class="gallery__title B_92_TITLE">Галерея изображений товара</h2>
            <div class="gallery__text B_92_TEXT">ООО "Компания" — учрежденное одним или несколькими юридическими или
                физическими лицами.</div>
        </div>
        <div class="gallery__cards cards cards-3">
            <div class="gallery__card card" data-slick-index="0">
                <div class="card__wrap">
                    <div class="card__image">
                        <img src="./images/gallery_slider/1.png" alt="Gallery card">
                    </div>
                </div>
                <div class="card__lupa" class="cta" data-action="gallery" data-section="gallery-slider">
                    <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                        <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white" stroke-width="2" />
                        <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                        <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                        <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                        <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                    </svg>
                </div>
            </div>
            <div class="gallery__card card" data-slick-index="1">
                <div class="card__wrap">
                    <div class="card__image">
                        <img src="./images/services/27/6.png" alt="Gallery card">
                    </div>
                </div>
                <div class="card__lupa" class="cta" data-action="gallery" data-section="gallery-slider">
                    <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                        <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white" stroke-width="2" />
                        <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                        <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                        <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                        <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="components/27_gallery_slider/script.js"></script>
<link rel="stylesheet" href="components/27_gallery_slider/style.css">