.page-title {
    margin-bottom: 1.15em;
    text-align: center;
    margin-bottom: 0;
}

.page-subtitle {
    max-width: 900px;
    font-size: 1.3em;
    margin-top: 1.53em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.38em;
}

.content__wrapper {
    margin-bottom: 60px;
}

.register__form {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-mid);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 39%;
    margin-left: auto;
    margin-right: auto;
}

.register__form .form__title {
    font-weight: 800;
    font-size: 2.2em;
    margin-bottom: 1.45em;
}

.register__form .form__field .field-tip {
    color: var(--settings-side-text);
    font-size: 1.2em;
    margin-top: 5px;
    display: block;
}

.register__form .form__field:has(input:invalid:not(:focus)) .field-tip {
    display: none;
}

.register__form .form__field:has(input:invalid:placeholder-shown) .field-tip {
    display: block;
}

.register__form .form__privacy {
    flex-wrap: wrap;
    gap: 10px;
}

.register__form .form__privacy input:after {
    left: 55%;
}

.register__form .form__privacy p {
    font-size: 1.3em;
}

.register__form .form__privacy p span {
    color: #f82900;
}

.register__form .form__privacy .wrap,
.register__form .form__privacy {
    display: flex;
    align-items: center;
}

.register__form .form__privacy {
    justify-content: space-between;
    margin-bottom: 0;
}

.register__form .select .item-opened {
    border-radius: 5px 5px 0 0;
}

.register__form .select .item__options {
    position: absolute;
    z-index: 99;
    width: 100%;
    background: var(--color-light);
    border: 1px solid var(--settings-border);
    border-top: 0;
    border-radius: 0 0 5px 5px;
    margin-left: -1px;
}

.register__form .form__code {
    display: flex;
    align-items: flex-end;
}

.register__form .form__code .form__field {
    max-width: 178px;
    margin-right: 30px;
    margin-bottom: 0;
}

.register__form .form__code input[type="text"] {
    height: 50px;
}

.register__form .form__code.invalid input[type="text"] {
    border-color: #ff0000;
}

.register__form .form__code .code-wrap {
    margin-bottom: 13px;
}

.register__form .form__code .code-block {
    margin-left: 10px;
    height: 50px;
    width: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-mid);
    border-radius: 5px;
}

.register__form .form__code .code-block .img-cage {
    height: 33px;
}

.register__form .form__submit {
    margin-top: 30px;
}

.content__register .register__socials p {
    color: var(--settings-side-text);
    font-size: 1.3em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.content__register .register__socials .items-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.content__register .register__social {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid transparent;
    cursor: pointer;
}

.content__register .register__social .img-cage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__register .register__social.instagram {
    background: linear-gradient(45deg, #662c6c 0%, #b11684 23%, #e53a40 60%, #f38834 80%, #f9c960 100%);
}

.content__register .register__social:hover.instagram {
    background: transparent;
    border-color: #662c6c;
}

.content__register .register__social:hover.instagram path {
    fill: #662c6c;
}

.content__register .register__social.twitter {
    background: #3eb4f5;
}

.content__register .register__social:hover.twitter {
    background: transparent;
    border-color: #3eb4f5;
}

.content__register .register__social:hover.twitter path {
    fill: #3eb4f5;
}

.content__register .register__social.odnoklassniki {
    background: #eb9218;
}

.content__register .register__social:hover.odnoklassniki {
    background: transparent;
    border-color: #eb9218;
}

.content__register .register__social:hover.odnoklassniki path {
    fill: #eb9218;
}

.content__register .register__social.facebook {
    background: #2559a1;
}

.content__register .register__social:hover.facebook {
    background: transparent;
    border-color: #2559a1;
}

.content__register .register__social:hover.facebook path {
    fill: #2559a1;
}

.content__register .register__social.mailru {
    background: #1050b0;
}

.content__register .register__social:hover.mailru {
    background: transparent;
    border-color: #1050b0;
}

.content__register .register__social:hover.mailru path {
    fill: #1050b0;
}

.content__register .register__social.vk {
    background: #438be3;
}

.content__register .register__social:hover.vk {
    background: transparent;
    border-color: #438be3;
}

.content__register .register__social:hover.vk path {
    fill: #438be3;
}

@media (max-width: 1240px) {
    .register__form {
        max-width: 550px;
    }

    .register__form .form__privacy {
        flex-direction: column;
        align-items: flex-start;
    }

    .register__form .form__privacy .wrap {
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .content__wrapper {
        margin-bottom: 40px;
    }

    .register__form {
        margin-top: 20px;
    }

    .register__form .form__title {
        font-size: 1.6em;
        margin-bottom: 1.87em;
        line-height: 1.38em;
    }

    .register__form .form__code {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .register__form .form__code .form__field {
        width: 100%;
        margin-right: 0;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .register__form .form__code .form__field input {
        width: 100%;
    }

    .register__form .form__submit .main-cta {
        width: 100%;
    }
}
