.main-pricelist .pricelist__info {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-pricelist .pricelist__wrapper {
    z-index: 0;
}

.main-pricelist .pricelist__info:has(.pricelist__title.d-none) {
    flex-direction: column-reverse;
}

.main-pricelist .pricelist__info:has(.pricelist__title.d-none) .pricelist__subtitle {
    order: 2;
    margin-bottom: -20px;
}

.main-pricelist .pricelist__wrapper.padded-b {
    padding-bottom: 60px;
}

.main-pricelist .pricelist__wrapper.padded-t {
    padding-top: 60px;
}

.main-pricelist .pricelist__wrapper.padded-b .pricelist__text,
.main-pricelist .pricelist__wrapper.padded-t .pricelist__text {
    margin-bottom: 15px;
}

.main-pricelist .pricelist__wrapper.align-right .pricelist__title,
.main-pricelist .pricelist__wrapper.align-right .pricelist__subtitle {
    text-align: right;
    margin-left: auto;
}

.main-pricelist .pricelist__wrapper.align-center .pricelist__title,
.main-pricelist .pricelist__wrapper.align-center .pricelist__subtitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-pricelist .pricelist__title {
    font-size: 2.6em;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: -1%;
    margin-bottom: 0.76em;
    max-width: 571px;
    position: relative;
    z-index: 2;
}

.main-pricelist .pricelist__subtitle {
    font-size: 1.5em;
    line-height: 1.26em;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.main-pricelist .pricelist__text {
    font-size: 1.3em;
    line-height: 130.5%;
    margin-bottom: 2.15em;
    position: relative;
    z-index: 2;
}

.main-pricelist .pricelist__text b {
    font-weight: 700;
}

.main-pricelist table {
    border-spacing: 0;
    padding-bottom: 32px;
    cursor: text;
    position: relative;
}

.main-pricelist table thead {
    background: var(--color-accent);
    border-radius: 10px;
}

.main-pricelist .table-wrap {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    cursor: pointer;
}

.main-pricelist .table-container {
    position: relative;
}

.main-pricelist .table-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    pointer-events: none;
}

.main-pricelist .table-wrap::-webkit-scrollbar {
    height: 3px;
}

.main-pricelist .table-wrap::-webkit-scrollbar-track {
    background: var(--color-mid);
    border: 0px solid var(--color-mid);
}

.main-pricelist .table-wrap::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 5px;
    margin-top: 32px;
    border: 0px solid var(--color-mid);
}

.main-pricelist table thead th {
    padding: 20px;
    color: var(--color-light-fixed);
    font-size: 1.5em;
    min-width: 150px;
    text-align: left;
}

.main-pricelist table thead th:first-of-type {
    border-radius: 10px 0 0 10px;
}

.main-pricelist table thead th:last-of-type {
    border-radius: 0 10px 10px 0;
}

.main-pricelist table td {
    padding: 10px 4px;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.38em;
}

.main-pricelist table tbody tr:first-of-type td {
    padding-top: 20px;
}

.main-pricelist table thead th:first-of-type {
    min-width: 70px;
}

.main-pricelist table tbody tr td:first-of-type {
    min-width: 70px;
}

.main-pricelist table tbody tr td:nth-of-type(2) {
    min-width: 315px;
}

.main-pricelist table td.align-left {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.main-pricelist table td {
    border-bottom: 1px solid var(--color-mid);
}

.main-pricelist .table-striped td {
    border-bottom: 0;
}

.main-pricelist .table-striped tbody tr:nth-of-type(2n) td {
    background: var(--color-mid-lighter);
}

.main-pricelist table td:has(.sm-btn) {
    padding-right: 28px;
}

.main-pricelist table td .sm-btn {
    font-size: 11px;
    width: fit-content;
    font-weight: 700;
    color: var(--color-button);
    border: 2px solid var(--color-button);
    border-radius: 5px;
    padding: 8.5px 12px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    line-height: 11px;
    transition: all 0.12s ease-in-out;
}

.main-pricelist table td .sm-btn:hover {
    background: var(--color-button);
    color: var(--color-light-fixed);
}

.main-pricelist .table-btns {
    position: absolute;
    top: 8px;
    right: 25px;
}

.main-pricelist .table-btns td {
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

.main-pricelist .table-btns .main-btn-iconed {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .main-pricelist .pricelist__wrapper.padded-b {
        padding-bottom: 50px;
    }

    .main-pricelist .pricelist__wrapper.padded-t {
        padding-top: 50px;
    }
}

@media (max-width: 575px) {
    .main-pricelist .pricelist__wrapper.padded-b {
        padding-bottom: 40px;
    }

    .main-pricelist .pricelist__wrapper.padded-t {
        padding-top: 40px;
    }

    .main-pricelist .pricelist__title {
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .main-pricelist .pricelist__subtitle {
        font-size: 1.3em;
    }

    .main-pricelist .pricelist__text {
        line-height: 1.38em;
    }

    .main-pricelist .pricelist__wrapper.padded-b .pricelist__text,
    .main-pricelist .pricelist__wrapper.padded-t .pricelist__text {
        margin-bottom: 2.15em;
    }
}
