<section class="main-services services S_17_18_LINE S_17_18_BG MAIN_SERVICES_17_18 S_17_18_1">
    <div class="services__wrapper container S_17_18_PADDED_TOP S_17_18_PADDED_BOTTOM">
        <div class="cards-17 services__row services__row-slider">
            <div class="services__info">
                <div class="services__subtitle S_17_18_SUBTITLE">Блок 17</div>
                <h2 class="services__title S_17_18_TITLE">Наши услуги 17</h2>
                <div class="services__left">
                    <div class="services__left-item">
                        <p>Подготовка к экзаменам по английскому языку</p>
                    </div>
                    <div class="services__left-item">
                        <p>Бизнес-планирование</p>
                    </div>
                    <div class="services__left-item">
                        <p>Салон красоты</p>
                    </div>
                    <div class="services__left-item">
                        <p>Ремонт и строительство</p>
                    </div>
                    <div class="services__left-item">
                        <p>Металлоконструкции</p>
                    </div>
                    <div class="services__left-item">
                        <p>Бухгалтерские услуги</p>
                    </div>
                </div>
            </div>
            <div class="services__detail">
                <div class="services__right">
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/1.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Подготовка к экзаменам по английскому</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                    <a href="">Одежда и обувь</a>
                                    <a href="">Бытовая техника</a>
                                    <a href="">Красота</a>
                                    <a href="">Строительство</a>
                                    <a href="">Мебель</a>
                                    <a href="">Высотные металлоконструкции</a>
                                    <a href="">Велосипеды</a>
                                    <a href="">Товары для офиса</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/1.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Бизнес-планирование</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                    <a href="">Одежда и обувь</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/1.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Салон красоты</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                    <a href="">Одежда и обувь</a>
                                    <a href="">Бытовая техника</a>
                                    <a href="">Красота</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/1.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Ремонт и строительство</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/1.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Металлоконструкции</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                    <a href="">Одежда и обувь</a>
                                    <a href="">Бытовая техника</a>
                                    <a href="">Красота</a>
                                    <a href="">Строительство</a>
                                    <a href="">Мебель</a>
                                    <a href="">Высотные металлоконструкции</a>
                                    <a href="">Велосипеды</a>
                                    <a href="">Товары для офиса</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/1.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Бухгалтерские услуги</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                    <a href="">Одежда и обувь</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-services services S_17_18_LINE S_17_18_BG MAIN_SERVICES_17_18 S_17_18_2">
    <div class="services__wrapper container S_17_18_PADDED_TOP S_17_18_PADDED_BOTTOM">
        <div class="cards-17 services__row services__row-slider">
            <div class="services__info">
                <div class="services__subtitle S_17_18_SUBTITLE">Блок 18</div>
                <h2 class="services__title S_17_18_TITLE">Наши товары 18</h2>
                <div class="services__left">
                    <div class="services__left-item">
                        <p>Колесные диски</p>
                    </div>
                    <div class="services__left-item">
                        <p>Сумки</p>
                    </div>
                    <div class="services__left-item">
                        <p>Электробритвы мужские</p>
                    </div>
                    <div class="services__left-item">
                        <p>Смесители</p>
                    </div>
                    <div class="services__left-item">
                        <p>Тушь для ресниц</p>
                    </div>
                    <div class="services__left-item">
                        <p>Компьютерные стулья и кресла</p>
                    </div>
                    <div class="services__left-item">
                        <p>Велосипеды</p>
                    </div>
                    <div class="services__left-item">
                        <p>Автомобильные шины</p>
                    </div>
                </div>
            </div>
            <div class="services__detail">
                <div class="services__right">
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/2.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Колесные диски</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                    <a href="">Одежда и обувь</a>
                                    <a href="">Бытовая техника</a>
                                    <a href="">Красота</a>
                                    <a href="">Строительство</a>
                                    <a href="">Мебель</a>
                                    <a href="">Высотные металлоконструкции</a>
                                    <a href="">Велосипеды</a>
                                    <a href="">Товары для офиса</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/2.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Сумки</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                    <a href="">Одежда и обувь</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/2.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Электробритвы мужские</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                    <a href="">Одежда и обувь</a>
                                    <a href="">Бытовая техника</a>
                                    <a href="">Красота</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/2.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Смесители</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/2.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Тушь для ресниц</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                    <a href="">Одежда и обувь</a>
                                    <a href="">Бытовая техника</a>
                                    <a href="">Красота</a>
                                    <a href="">Строительство</a>
                                    <a href="">Мебель</a>
                                    <a href="">Высотные металлоконструкции</a>
                                    <a href="">Велосипеды</a>
                                    <a href="">Товары для офиса</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/2.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Компьютерные стулья и кресла</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                    <a href="">Одежда и обувь</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/2.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Велосипеды</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                    <a href="">Одежда и обувь</a>
                                    <a href="">Бытовая техника</a>
                                    <a href="">Красота</a>
                                    <a href="">Строительство</a>
                                    <a href="">Мебель</a>
                                    <a href="">Высотные металлоконструкции</a>
                                    <a href="">Велосипеды</a>
                                    <a href="">Товары для офиса</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__right-item item">
                        <div class="item__wrap">
                            <div class="item__image">
                                <div class="image-wrap">
                                    <img src="./images/services/17-18/2.png" alt="">
                                </div>
                            </div>
                            <div class="item__info">
                                <div class="item__title">Автомобильные шины</div>
                                <div class="item__list">
                                    <a href="">Товары для автомобиля</a>
                                    <a href="">Одежда и обувь</a>
                                    <a href="">Бытовая техника</a>
                                    <a href="">Красота</a>
                                    <a href="">Строительство</a>
                                    <a href="">Мебель</a>
                                    <a href="">Высотные металлоконструкции</a>
                                    <a href="">Велосипеды</a>
                                    <a href="">Товары для офиса</a>
                                </div>
                                <div class="item__all">
                                    <p>Подробнее об услуге</p>
                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.85355 4.35355C10.0488 4.15829 10.0488 3.84171 9.85355 3.64645L6.67157 0.464466C6.47631 0.269204 6.15973 0.269204 5.96447 0.464466C5.7692 0.659728 5.7692 0.976311 5.96447 1.17157L8.79289 4L5.96447 6.82843C5.7692 7.02369 5.7692 7.34027 5.96447 7.53553C6.15973 7.7308 6.47631 7.7308 6.67157 7.53553L9.85355 4.35355ZM0.5 4.5H9.5V3.5H0.5V4.5Z"
                                            fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="components/4_services/v_17-18/script.js"></script>
<link rel="stylesheet" href="components/4_services/v_17-18/style.css">