<section class="main-page-banner banner B_57_LINE B_57_BG BLOCK_57">
    <div class="banner__wrapper container B_57_PADDED_TOP B_57_PADDED_BOTTOM B_57_ALLIGN">
        <div class="banner__info">
            <div class="banner__subtitle B_57_SUBTITLE">Блок 57</div>
            <h2 class="banner__title B_57_TITLE">Баннер 1</h2>
            <div class="banner__text B_57_TEXT">ООО "Компания" — учрежденное одним или несколькими юридическими или
                физическими лицами.</div>
        </div>
        <div class="banner__row item-3">
            <a class="banner__item">
                <div class="item__image">
                    <div class="img-cage">
                        <img src="./images/main-banners/3-1.png" alt="Banner">
                    </div>
                </div>
            </a>
            <a class="banner__item">
                <div class="item__image">
                    <div class="img-cage">
                        <img src="./images/main-banners/3-2.png" alt="Banner">
                    </div>
                </div>
            </a>
            <a class="banner__item">
                <div class="item__image">
                    <div class="img-cage">
                        <img src="./images/main-banners/3-3.png" alt="Banner">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/9_banners/v_3/style.css">