.main-services:has(.cards-7) .services__info {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-services:has(.cards-7) .services__info:has(.services__title.d-none) {
    flex-direction: column-reverse;
}

.main-services:has(.cards-7) .services__info:has(.services__title.d-none) .services__subtitle {
    order: 2;
    margin-bottom: -20px;
}

.main-services:has(.cards-7) .services__info:has(.services__subtitle.d-none) .services__all {
    top: 9px;
}

.main-services:has(.cards-7) .services__info .services__all {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    display: block;
    font-size: 1.5em;
    line-height: 1.33em;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
}

.main-services:has(.cards-7) .d-none.services__title~.services__all {
    position: relative;
    margin-bottom: 1.3em;
    justify-content: flex-end;
}

.main-services:has(.cards-7) .services__info .services__all svg {
    margin-left: 6px;
    margin-bottom: -2px;
}

.main-services:has(.cards-7) .services__info .services__all:hover {
    color: var(--color-accent)
}

.main-services:has(.cards-7) .services__info .services__all svg path {
    transition: all .2s ease-in-out;
}

.main-services:has(.cards-7) .services__info .services__all:hover svg path {
    fill: var(--color-accent);
}

.main-services:has(.cards-7) .services__wrapper.padded-b {
    padding-bottom: 60px;
}

.main-services:has(.cards-7) .services__wrapper.padded-t {
    padding-top: 60px;
}

.main-services:has(.cards-7) .services__wrapper.padded-b .services__text,
.main-services:has(.cards-7) .services__wrapper.padded-t .services__text {
    margin-bottom: 15px;
}

.main-services:has(.cards-7) .v_services__wrapper-align-right .services__title,
.main-services:has(.cards-7) .v_services__wrapper-align-right .services__subtitle {
    text-align: right;
    margin-left: auto;
}

.main-services:has(.cards-7) .v_services__wrapper-align-center .services__title,
.main-services:has(.cards-7) .v_services__wrapper-align-center .services__subtitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-services:has(.cards-7) .v_services__wrapper-align-center .services__all,
.main-services:has(.cards-7) .v_services__wrapper-align-right .services__all {
    display: none;
}

.main-services:has(.cards-7) .services__title {
    font-size: 2.6em;
    font-weight: 800;
    line-height: 115%;
    letter-spacing: -1%;
    margin-bottom: 0.76em;
    max-width: 571px;
}

.main-services:has(.cards-7) .services__subtitle {
    font-size: 1.5em;
    line-height: 1.26em;
    text-transform: uppercase;
}

.main-services:has(.cards-7) .services__text {
    font-size: 1.3em;
    line-height: 130.5%;
    margin-bottom: 2.15em;
}

.main-services:has(.cards-7) .services__text b {
    font-weight: 700;
}

.main-services:has(.cards-7) .services__cards {
    display: flex;
    flex-wrap: wrap;
}

.main-services .cards-7 .services__cards-col.col-right .services__card:nth-of-type(1),
.main-services .cards-7 .services__cards-col.col-right .services__card:nth-of-type(2) {
    margin-bottom: 10px;
}

.main-services .cards-7 .services__card {
    width: calc((100% - 10px) / 2);
    min-height: 261px;
    overflow: hidden;
    display: block;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--color-mid);
    transition: box-shadow .24s ease-in-out;
}

.main-services .cards-7 .services__cards-col {
    width: calc((100% - 10px) / 2);
    display: flex;
    flex-wrap: wrap;
}

.main-services .cards-7 .services__cards-col:first-of-type {
    margin-right: 10px;
}

.main-services .cards-7 .services__cards-col.col-right .services__card:nth-of-type(2n-1) {
    margin-right: 10px;
}

.main-services .cards-7 .services__card.card-featured {
    width: 100%;
    min-height: 100%;
}

.main-services .cards-7 .services__card.card-featured .card-wrap {
    width: 100%;
    height: auto;
    aspect-ratio: 845/405;
}

.main-services .cards-7 .services__card:nth-of-type(3n) {
    margin-right: 0;
}

.main-services .cards-7 .services__card .card-wrap {
    position: relative;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-services .cards-7 .services__card .card-wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-services .cards-7 .services__card .card__wrap {
    padding: 20px;
    position: relative;
    z-index: 99;
    color: var(--color-dark);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    transition: all .3s ease-in-out;
}

.main-services .cards-7 .services__card .card__title {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.38em;
    width: fit-content;
    transition: all .3s ease-in-out;
}

.main-services .cards-7 .services__card .card__subtitle {
    font-size: 1.3em;
    line-height: 1.38em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.76em;
    color: var(--color-accent);
}

.main-services .cards-7 .services__card .card-wrap img {
    transition: all .3s ease-in-out;
}

.main-services .cards-7 .services__card:hover .card-wrap img {
    transform: scale(1.1);
}

.main-services .cards-7 .services__card:hover {
    box-shadow: var(--cards-hover);
}

@media (max-width: 1240px) {
    .main-services .cards-7 .services__card.card-featured .card-wrap {
        aspect-ratio: 594/335;
    }
}

@media (max-width: 880px) {
    .main-services .cards-7.services__cards {
        flex-direction: column;
    }

    .main-services .cards-7 .services__cards-col {
        width: 100%;
        margin-right: 0 !important;
    }

    .main-services .cards-7 .services__cards-col:first-of-type {
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .main-services:has(.cards-7) .services__wrapper.padded-b {
        padding-bottom: 50px;
    }

    .main-services:has(.cards-7) .services__wrapper.padded-t {
        padding-top: 50px;
    }
}

@media (max-width: 575px) {
    .main-services:has(.cards-7) .services__wrapper.padded-b {
        padding-bottom: 40px;
    }

    .main-services:has(.cards-7) .services__wrapper.padded-t {
        padding-top: 40px;
    }

    .main-services:has(.cards-7) .services__title {
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .main-services:has(.cards-7) .services__subtitle {
        font-size: 1.3em;
    }

    .main-services:has(.cards-7) .services__text {
        line-height: 1.38em;
    }

    .main-services:has(.cards-7) .services__wrapper.padded-b .services__text,
    .main-services:has(.cards-7) .services__wrapper.padded-t .services__text {
        margin-bottom: 2.15em;
    }

    .main-services .cards-7 .services__card {
        width: 100%;
        margin-right: 0;
    }

    .main-services .cards-7 .services__card .card__wrap {
        padding: 20px 15px;
    }

    .main-services .cards-7 .services__card:last-of-type {
        margin-bottom: 0;
    }

    .main-services .cards-7 .services__card.card-featured .card-wrap {
        height: 170px;
        width: 100%;
        aspect-ratio: unset;
    }

    .main-services:has(.cards-7) .services__info:has(.services__subtitle.d-none) .services__all {
        top: 0;
    }
}