<section class="main-partners partners B_60_LINE B_60_BG BLOCK_60">
    <div class="partners__wrapper container B_60_PADDED_TOP B_60_PADDED_BOTTOM B_60_ALLIGN">
        <div class=" partners__info">
            <div class="partners__subtitle B_60_SUBTITLE">Блок 60</div>
            <h2 class="partners__title B_60_TITLE">Наши партнеры 3</h2>
            <div class="partners__text B_60_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или несколькими
                юридическими или физическими лицами.</div>
        </div>
        <div class=" partners__cards cards-3">
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/1.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/2.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/3.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/4.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/5.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/6.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/7.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/8.png" alt="Partner card">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="components/10_partners/v_3/script.js"></script>
<link rel="stylesheet" href="components/10_partners/v_3/style.css">