<section class="main-page-banner banner B_56_LINE B_56_BG BLOCK_56">
    <div class="banner__wrapper container B_56_PADDED_TOP B_56_PADDED_BOTTOM B_56_ALLIGN">
        <div class="banner__info">
            <div class="banner__subtitle B_56_SUBTITLE">Блок 56</div>
            <h2 class="banner__title B_56_TITLE">Баннер 2</h2>
            <div class="banner__text B_56_TEXT">ООО "Компания" — учрежденное одним или несколькими юридическими или
                физическими лицами.</div>
        </div>
        <div class="banner__row item-2">
            <a class="banner__item">
                <div class="item__image">
                    <div class="img-cage">
                        <img src="./images/main-banners/2-1.png" alt="Banner">
                    </div>
                </div>
            </a>
            <a class="banner__item">
                <div class="item__image">
                    <div class="img-cage">
                        <img src="./images/main-banners/2-2.png" alt="Banner">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/9_banners/v_2/style.css">