<section class="main-seo seo B_95_LINE B_95_BG BLOCK_95">
    <div class="seo__wrapper container B_95_PADDED_TOP B_95_PADDED_BOTTOM B_95_ALLIGN">
        <div class="seo__info">
            <h2 class="seo__title B_95_TITLE">Блок 95 Seo-текст</h2>
            <div class="seo__text B_95_TEXT">В нашем катологе представлены последние линейки спецтехники, систем
                Закажите констультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. мы
                подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок.
            </div>
        </div>
    </div>
</section>
<section class="main-seo seo B_95_LINE B_95_BG BLOCK_95">
    <div class="seo__wrapper container B_95_PADDED_TOP B_95_PADDED_BOTTOM B_95_ALLIGN">
        <div class="seo__info">
            <h2 class="seo__title B_95_TITLE">Блок 96 Ссылки на страницы</h2>
            <div class="seo__text B_95_TEXT">
                <a href="page.php?page=order-formed">Заказ сформирован</a>, <a href="page.php?page=cart">Корзина</a>, <a
                    class="cta" data-action="log-in">Форма авторизации</a>, <a
                    href="page.php?page=registration">Регистрация</a>, <a
                    href="page.php?page=password-forgot">Восстановление пароля</a>, <a
                    href="page.php?page=account">Личный кабинет</a>, <a href="page.php?page=order-all">Текущие
                    заказы</a>, <a href="page.php?page=order-detail">Подробнее о заказе</a>, <a
                    href="page.php?page=order-history">История заказов</a>, <a
                    href="page.php?page=password-change">Смена пароля</a>, <a href="page.php?page=profile">Профиль
                    пользователя</a>, <a href="page.php?page=information">Информационная страница</a>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/29_seo_text/style.css">