<section class="main-services services S_23_24_LINE S_23_24_BG MAIN_SERVICES_23_24">
    <div class="services__wrapper container S_23_24_PADDED_TOP S_23_24_PADDED_BOTTOM">
        <div class="services__row cards-23">
            <div class="services__col services__info">
                <div class="services__subtitle S_23_24_SUBTITLE">Блок 23</div>
                <h2 class="services__title S_23_24_TITLE">Наши услуги 21.1</h2>
                <div class="services__subtext S_23_24_SUBTEXT">Специализируемся на услугах для малого и среднего
                    бизнеса. Работаем с физическими и юридическими лицами.</div>
                <div class="services__text S_23_24_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или
                    несколькими юридическими или физическими лицами.<br><br>Цель нашей компании - сократить издержки,
                    увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании,
                    анализируем их и ищем узкие места.<br><br>Для этого мы изучаем бизнес-процессы компании, анализируем
                    их и ищем узкие места.. Цель нашей компании - сократить издержки.</div>
                <a class="services__btn main-btn-sm">Подробнее</a>
            </div>
            <div class="services__col services__cards">
                <div class="services__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/services/23-24/1.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Автоматизация бизнеса</div>
                        <div class="card__text">Здесь находится описание блока, которое может распологалься максимум в
                            три строки</div>
                    </div>
                </div>
                <div class="services__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/services/23-24/2.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Подготовка к экзамену по английскому языку</div>
                        <div class="card__text">Здесь находится описание блока, которое может распологалься максимум в
                            три строки</div>
                    </div>
                </div>
                <div class="services__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/services/23-24/3.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Салон красоты</div>
                        <div class="card__text">Здесь находится описание блока, которое может распологалься максимум в
                            три строки</div>
                    </div>
                </div>
                <div class="services__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/services/23-24/4.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Проектирование домов</div>
                        <div class="card__text">Здесь находится описание блока, которое может распологалься максимум в
                            три строки</div>
                    </div>
                </div>
                <div class="services__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/services/23-24/5.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Школа по автотранспорту</div>
                        <div class="card__text">Здесь находится описание блока, которое может распологалься максимум в
                            три строки</div>
                    </div>
                </div>
                <div class="services__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/services/23-24/6.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Дизайн интерьеров</div>
                        <div class="card__text">Здесь находится описание блока, которое может распологалься максимум в
                            три строки</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-services services S_23_24_LINE S_23_24_BG MAIN_SERVICES_23_24">
    <div class="services__wrapper container S_23_24_PADDED_TOP S_23_24_PADDED_BOTTOM">
        <div class="services__row cards-23">
            <div class="services__col services__info">
                <div class="services__subtitle S_23_24_SUBTITLE">Блок 24</div>
                <h2 class="services__title S_23_24_TITLE">Наши услуги 22.1</h2>
                <div class="services__subtext S_23_24_SUBTEXT">Специализируемся на услугах для малого и среднего
                    бизнеса. Работаем с физическими и юридическими лицами.</div>
                <div class="services__text S_23_24_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или
                    несколькими юридическими или физическими лицами.<br><br>Цель нашей компании - сократить издержки,
                    увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании,
                    анализируем их и ищем узкие места.<br><br>Для этого мы изучаем бизнес-процессы компании, анализируем
                    их и ищем узкие места.. Цель нашей компании - сократить издержки.</div>
                <a class="services__btn main-btn-sm">Подробнее</a>
            </div>
            <div class="services__col services__cards">
                <div class="services__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/services/23-24/7.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Проекторы</div>
                        <div class="card__text">Здесь находится описание блока, которое может распологалься максимум в
                            три строки</div>
                    </div>
                </div>
                <div class="services__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/services/23-24/8.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Сумки</div>
                        <div class="card__text">Здесь находится описание блока, которое может распологалься максимум в
                            три строки</div>
                    </div>
                </div>
                <div class="services__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/services/23-24/9.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Электрообогреватели и тепловые завесы</div>
                        <div class="card__text">Здесь находится описание блока, которое может распологалься максимум в
                            три строки</div>
                    </div>
                </div>
                <div class="services__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/services/23-24/10.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Тушь для ресниц</div>
                        <div class="card__text">Здесь находится описание блока, которое может распологалься максимум в
                            три строки</div>
                    </div>
                </div>
                <div class="services__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/services/23-24/11.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Товар</div>
                        <div class="card__text">Здесь находится описание блока, которое может распологалься максимум в
                            три строки</div>
                    </div>
                </div>
                <div class="services__card card">
                    <div class="card-wrap">
                        <div class="img-cage">
                            <img src="./images/services/23-24/12.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Мягкие диваны и кушетки</div>
                        <div class="card__text">Здесь находится описание блока, которое может распологалься максимум в
                            три строки</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/4_services/v_23-24/style.css">