<section class="main-questions questions B_64_LINE B_64_BG BLOCK_64">
    <div class="questions__wrapper container B_64_PADDED_TOP B_64_PADDED_BOTTOM B_64_ALLIGN">
        <div class="questions__info">
            <div class="questions__subtitle B_64_SUBTITLE">Блок 64</div>
            <h2 class="questions__title B_64_TITLE">Вопрос-ответ</h2>
            <div class="questions__text B_64_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или несколькими
                юридическими или физическими лицами.</div>
        </div>
        <div class="questions__items items">
            <div class="accordion-items">
                <div class="accordion-wrap">
                    <div class="accordion-head">
                        <span>Какой срок возврата?</span>
                        <svg class="accordion-arrow" width="10" height="6" viewBox="0 0 10 6" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0.998326L4.85714 4.85547L8.71429 0.998326" stroke="#666666" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="accordion accordion-open-one">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna. Tempus quam pellentesque
                            nec nam aliquam sem et tortor. In mollis nunc sed id. Orci eu lobortis elementum nibh tellus
                            molestie. Suscipit tellus mauris a diam maecenas. Nullam eget felis eget nunc lobortis
                            mattis aliquam faucibus purus. Pretium lectus quam id leo.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna. Tempus quam pellentesque
                            nec nam aliquam sem et tortor. In mollis nunc sed id. Orci eu lobortis elementum nibh tellus
                            molestie. Suscipit tellus mauris a diam maecenas. Nullam eget felis eget nunc lobortis
                            mattis aliquam faucibus purus. Pretium lectus quam id leo.</p>
                    </div>
                </div>
                <div class="accordion-wrap">
                    <div class="accordion-head">
                        <span>Какой срок возврата?</span>
                        <svg class="accordion-arrow" width="10" height="6" viewBox="0 0 10 6" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0.998326L4.85714 4.85547L8.71429 0.998326" stroke="#666666" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="accordion accordion-open-one">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna. Tempus quam pellentesque
                            nec nam aliquam sem et tortor. In mollis nunc sed id. Orci eu lobortis elementum nibh tellus
                            molestie. Suscipit tellus mauris a diam maecenas. Nullam eget felis eget nunc lobortis
                            mattis aliquam faucibus purus. Pretium lectus quam id leo.</p>
                    </div>
                </div>
                <div class="accordion-wrap">
                    <div class="accordion-head">
                        <span>Заказывали сайн интернем-магазина. все очень круто сделали. Замечательные сотрудники,
                            правильно все понимают, советуют как лучше и еще чаем угощают. Всем очень доволен, большое
                            вам спасибо! Обращайтесь в данную компанию, чтобы сделать сайт - не пожалеете?</span>
                        <svg class="accordion-arrow" width="10" height="6" viewBox="0 0 10 6" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0.998326L4.85714 4.85547L8.71429 0.998326" stroke="#666666" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="accordion accordion-open-one">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna. Tempus quam pellentesque
                            nec nam aliquam sem et tortor. In mollis nunc sed id. Orci eu lobortis elementum nibh tellus
                            molestie. Suscipit tellus mauris a diam maecenas. Nullam eget felis eget nunc lobortis
                            mattis aliquam faucibus purus. Pretium lectus quam id leo.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna. Tempus quam pellentesque
                            nec nam aliquam sem et tortor. In mollis nunc sed id. Orci eu lobortis elementum nibh tellus
                            molestie. Suscipit tellus mauris a diam maecenas. Nullam eget felis eget nunc lobortis
                            mattis aliquam faucibus purus. Pretium lectus quam id leo.</p>
                    </div>
                </div>
                <div class="accordion-wrap">
                    <div class="accordion-head">
                        <span>Какие причины возврата?</span>
                        <svg class="accordion-arrow" width="10" height="6" viewBox="0 0 10 6" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0.998326L4.85714 4.85547L8.71429 0.998326" stroke="#666666" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="accordion accordion-open-one accordion-opened">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna. Tempus quam pellentesque
                            nec nam aliquam sem et tortor. In mollis nunc sed id. Orci eu lobortis elementum nibh tellus
                            molestie. Suscipit tellus mauris a diam maecenas. Nullam eget felis eget nunc lobortis
                            mattis aliquam faucibus purus. Pretium lectus quam id leo.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna. Tempus quam pellentesque
                            nec nam aliquam sem et tortor. In mollis nunc sed id. Orci eu lobortis elementum nibh tellus
                            molestie. Suscipit tellus mauris a diam maecenas. Nullam eget felis eget nunc lobortis
                            mattis aliquam faucibus purus. Pretium lectus quam id leo.</p>
                    </div>
                </div>
                <div class="accordion-wrap">
                    <div class="accordion-head">
                        <span>Какой срок возврата?</span>
                        <svg class="accordion-arrow" width="10" height="6" viewBox="0 0 10 6" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0.998326L4.85714 4.85547L8.71429 0.998326" stroke="#666666" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="accordion accordion-open-one">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna. Tempus quam pellentesque
                            nec nam aliquam sem et tortor. In mollis nunc sed id. Orci eu lobortis elementum nibh tellus
                            molestie. Suscipit tellus mauris a diam maecenas. Nullam eget felis eget nunc lobortis
                            mattis aliquam faucibus purus. Pretium lectus quam id leo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="questions__btn main-cta">Добавить свой вопрос</div>
    </div>
</section>
<link rel="stylesheet" href="components/13_questions/style.css">