<section class="main-banner banner f_banner-gradient MAIN_BANNER">
    <div class="banner__wrapper">
        <div class="banner__slider slider">
            <div class="slider__item item slider__item-editable SLIDE_EDITABLE_IMAGE_POSITION" data-color="d">
                <div class="item__bg" style="background-image: url('./images/banner/banner__bg-1-large.png');">
                    <div class="img-cage"><img src="./images/banner/banner__bg-1-small.png" alt="Small image"></div>
                </div>
                <div class="item__bg-mobile" style="background-image: url('./images/banner/banner__bg-mobile.png');">
                </div>
                <div class="slide-wrap"></div>
                <div class="item__wrapper container SLIDE_EDITABLE_COLOR SLIDE_EDITABLE_WRAPPED">
                    <div class="item-wrap SLIDE_EDITABLE_TEXT_POSITION">
                        <div class="item__title">Быстрый старт<br>в&nbsp;2&nbsp;строки</div>
                        <div class="item__subtitle">Все готово для мгновенного запуска вашего<br>корпоративного сайта в
                            сети за пару строчек</div>
                        <div class="item__btns">
                            <a class="main-btn cta" data-action="call-request" data-url="ajax/popup.php"
                                data-id="1">Оставить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item item v_slider__item-image-right" data-color="l">
                <div class="item__video">
                    <video autoplay="" autobuffer="" playsinline="" webkit-playsinline="" loop="" muted="" style="">
                        <source
                            src="https://www.shutterstock.com/shutterstock/videos/1024999910/preview/stock-footage-business-people-working-late-using-computer-team-leader-woman-sharing-information-with-colleague.webm"
                            type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
                    </video>
                    <div class="slide-wrap"></div>
                </div>
                <div class="item__wrapper container f_item__wrapper-wrapped v_item__wrapper-dark">
                    <div class="item-wrap v_wrap-right">
                        <div class="item__title light-color">Быстрый старт</div>
                        <div class="item__subtitle light-color">Все готово для мгновенного запуска
                            вашего<br>корпоративного сайта в сети за пару длинных строчек</div>
                    </div>
                </div>
            </div>
            <div class="slider__item item v_slider__item-image-right" data-color="l">
                <div class="item__bg" style="background-image: url('./images/banner/banner__bg-2-large.png');">
                    <div class="img-cage"><img src="./images/banner/banner__bg-2-small.png" alt="Small image"></div>
                </div>
                <div class="slide-wrap"></div>
                <div class="item__wrapper container f_item__wrapper-wrapped v_item__wrapper-light">
                    <div class="item-wrap">
                        <div class="item__title light-color">Быстрый старт</div>
                        <div class="item__subtitle light-color">Все готово для мгновенного запуска</div>
                        <div class="item__btns">
                            <a href="" class="main-side-btn">Подробнее</a>
                            <a class="main-btn cta" data-action="call-request" data-url="ajax/popup.php"
                                data-id="1">Оставить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item item v_slider__item-image-right" data-color="l">
                <div class="item__bg" style="background-image: url('./images/banner/banner__bg-2-large.png');">
                    <div class="img-cage"><img src="./images/banner/banner__bg-2-small.png" alt="Small image"></div>
                </div>
                <div class="item__wrapper container f_item__wrapper-wrapped v_item__wrapper-light">
                    <div class="item-wrap v_wrap-center">
                        <div class="item__title light-color">Быстрый старт за пару<br>строчек, а может и две</div>
                        <div class="item__subtitle light-color">Все готово для мгновенного запуска</div>
                        <div class="item__btns">
                            <a href="" class="main-side-btn">Подробнее</a>
                            <a class="main-btn cta" data-action="call-request" data-url="ajax/popup.php"
                                data-id="1">Оставить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item item v_slider__item-image-right" data-color="l">
                <div class="item__bg" style="background-image: url('./images/banner/banner__bg-1-large.png');">
                    <div class="img-cage"><img src="./images/banner/banner__bg-1-small.png" alt="Small image"></div>
                </div>
                <div class="slide-wrap"></div>
                <div class="item__wrapper f_item__wrapper-wrapped v_item__wrapper-light container">
                    <div class="item-wrap">
                        <div class="item__title">Быстрый старт</div>
                        <div class="item__subtitle">Все готово для мгновенного запуска вашего<br>корпоративного сайта в
                            сети </div>
                        <div class="item__btns">
                            <a href="" class="main-side-btn">Подробнее</a>
                            <a class="main-btn cta" data-action="call-request" data-url="ajax/popup.php"
                                data-id="1">Оставить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item item v_slider__item-image-right" data-color="l">
                <div class="item__bg" style="background-image: url('./images/banner/banner__bg-2-large.png');">
                    <div class="img-cage"><img src="./images/banner/banner__bg-2-small.png" alt="Small image"></div>
                </div>
                <div class="item__wrapper f_item__wrapper-wrapped v_item__wrapper-dark container">
                    <div class="item-wrap">
                        <div class="item__title">Быстрый старт</div>
                        <div class="item__subtitle">Все готово для мгновенного запуска вашего корпоративного<br>сайта
                            в&nbsp;сети c переносом на следующую строчку</div>
                        <div class="item__btns">
                            <a href="" class="main-side-btn">Подробнее</a>
                            <a class="main-btn cta" data-action="call-request" data-url="ajax/popup.php"
                                data-id="1">Оставить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="components/2_banner/script.js"></script>
<link rel="stylesheet" href="components/2_banner/style.css">