<section class="main-about about B_70_LINE B_70_BG BLOCK_70">
    <div class="about__wrapper container B_70_PADDED_TOP B_70_PADDED_BOTTOM B_70_ALLIGN">
        <div class="about__row">
            <div class="about__info about__col">
                <div class="about__subtitle B_70_SUBTITLE">Блок 70</div>
                <h2 class="about__title B_70_TITLE">О компании</h2>
                <div class="about__subtext B_70_SUBTEXT">Web-company: market - ключ к успешному бизнесу в Минске</div>
                <div class="about__image">
                    <div class="image-cage">
                        <div class="img-big">
                            <img src="./images/about/bg.png" alt="">
                        </div>
                        <div class="img-small">
                            <img src="./images/about/woman.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="about__text B_70_TEXT">ООО "Компания" — учрежденное одним или несколькими юридическими или
                    физическими лицами хозяйственное общество. Участники общества не отвечают по его обязательствам и
                    несут риск убытков, в пределах стоимости принадлежащих им долей в уставном капитале общества.</div>
                <a class="about__btn main-btn-sm">Подробнее</a>
            </div>
            <div class="about__col text">
                <div class="about__image">
                    <div class="image-cage">
                        <div class="img-big">
                            <img src="./images/about/bg.png" alt="">
                        </div>
                        <div class="img-small">
                            <img src="./images/about/woman.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="about__content">
                    <p>ООО "Компания" — учрежденное одним или несколькими юридическими или физическими лицами
                        хозяйственное общество. Участники общества не отвечают по его обязательствам и несут риск
                        убытков, в пределах стоимости принадлежащих им долей в уставном капитале общества. Таким образом
                        консультация позволяет оценить значение позиций, занимаемых участниками в отношении поставленных
                        задач. Задача организации, в особенности же новая модель организационной деятельности
                        обеспечивает широкому кругу участие в формировании форм развития.</p>
                    <p>ООО "Компания" — учрежденное одним или несколькими юридическими или физическими лицами
                        хозяйственное общество. Участники общества не отвечают по его обязательствам и несут риск
                        убытков, в пределах стоимости принадлежащих им долей в уставном капитале общества.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/18_about/style.css">