<section class="main-services services s_15_16_line s_15_16_bg MAIN_SERVICES_15_16">
    <div class="services__wrapper container s_15_16_padded_top s_15_16_padded_bottom s_15_16_allign">
        <div class="services__info">
            <div class="services__subtitle s_15_16_subtitle">Блок 15</div>
            <h2 class="services__title s_15_16_title">Наши услуги 15</h2>
            <div class="services__text s_15_16_text"><b>Вид 7.</b> За 5 лет работы мы реализовали свыше 100 ярких
                проектов. Делимся лучшим!</div>
            <a href="" class="services__all">
                <p>Все услуги</p>
                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.71107 4.10927L1.77692 0.161609C1.5479 -0.0539542 1.19759 -0.0539541 0.981984 0.161609C0.766421 0.377172 0.766421 0.740939 0.981984 0.95654L4.52541 4.49997L0.981985 8.0434C0.766422 8.27241 0.766422 8.62273 0.981985 8.83833C1.19755 9.05389 1.54785 9.05389 1.77692 8.83833L5.71107 4.90417C5.92664 4.67516 5.92664 4.32484 5.71107 4.10924L5.71107 4.10927Z"
                        fill="var(--color-dark)" />
                </svg>
            </a>
        </div>
        <div class="services__cards cards-15">
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/1.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Технико-экономическое обоснование бизнес-планов</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/2.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Бухгалтерские услуги</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/3.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Парикмахерские услуги</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/4.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Проектирование домов</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/5.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Уроки вождения категории В</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/6.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Дизайн квартир</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/7.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Хип-хоп танцы</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/8.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Школа картинга</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-services services s_15_16_line s_15_16_bg MAIN_SERVICES_15_16">
    <div class="services__wrapper container s_15_16_padded_top s_15_16_padded_bottom s_15_16_allign">
        <div class="services__info">
            <div class="services__subtitle s_15_16_subtitle">Блок 16</div>
            <h2 class="services__title s_15_16_title">Наши товары 16</h2>
            <div class="services__text s_15_16_text"><b>Вид 7.</b> За 5 лет работы мы реализовали свыше 100 ярких
                проектов. Делимся лучшим!</div>
            <a href="" class="services__all">
                <p>Все услуги</p>
                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.71107 4.10927L1.77692 0.161609C1.5479 -0.0539542 1.19759 -0.0539541 0.981984 0.161609C0.766421 0.377172 0.766421 0.740939 0.981984 0.95654L4.52541 4.49997L0.981985 8.0434C0.766422 8.27241 0.766422 8.62273 0.981985 8.83833C1.19755 9.05389 1.54785 9.05389 1.77692 8.83833L5.71107 4.90417C5.92664 4.67516 5.92664 4.32484 5.71107 4.10924L5.71107 4.10927Z"
                        fill="var(--color-dark)" />
                </svg>
            </a>
        </div>
        <div class="services__cards cards-15">
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/9.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Колесные диски</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/10.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Сумки</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/11.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Соковыжималки</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/12.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Губная помада</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/13.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Смесители</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/14.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Мягкие диваны и кушетки</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/15.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Проекторы</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <img src="./images/services/15-16/16.png" alt="Service card">
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Горные велосипеды</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/4_services/v_15-16/style.css">