<section class="main-grid grid">
    <div class="grid__wrapper container">
        <div class="grid__info">
            <div class="grid__subtitle">Каталог товаров</div>
            <h2 class="grid__title">Каталог</h2>
            <div class="grid__text">В нашем каталоге представлены последние линейки спецтехники, систем Закажите
                констультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. мы
                подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок
            </div>
        </div>
        <div class="grid__cards cards-50">
            <a class="grid__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <img src="/assets/images/catalog-new.png" alt="Card image">
                    </div>
                    <div class="card__text">
                        <div class="name">Кухни прямые</div>
                        <div class="text">10 товаров</div>
                    </div>
                </div>
            </a>
            <div class="grid__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <img src="/assets/images/catalog-new.png" alt="Card image">
                    </div>
                    <div class="card__text">
                        <div class="name">Корпусная мебель с длинным названием</div>
                        <div class="text">10 товаров</div>
                    </div>
                </div>
            </div>
            <div class="grid__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <img src="/assets/images/catalog-new.png" alt="Card image">
                    </div>
                    <div class="card__text">
                        <div class="name">Кухни прямые</div>
                        <div class="text">10 товаров</div>
                    </div>
                </div>
            </div>
            <div class="grid__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <img src="/assets/images/catalog-new.png" alt="Card image">
                    </div>
                    <div class="card__text">
                        <div class="name">Кухни прямые</div>
                        <div class="text">10 товаров</div>
                    </div>
                </div>
            </div>
            <div class="grid__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <img src="/assets/images/catalog-new.png" alt="Card image">
                    </div>
                    <div class="card__text">
                        <div class="name">Кухни прямые</div>
                        <div class="text">10 товаров</div>
                    </div>
                </div>
            </div>
            <div class="grid__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <img src="/assets/images/catalog-new.png" alt="Card image">
                    </div>
                    <div class="card__text">
                        <div class="name">Кухни прямые</div>
                        <div class="text">10 товаров</div>
                    </div>
                </div>
            </div>
            <div class="grid__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <img src="/assets/images/catalog-new.png" alt="Card image">
                    </div>
                    <div class="card__text">
                        <div class="name">Корпусная мебель с длинным названием</div>
                        <div class="text">10 товаров</div>
                    </div>
                </div>
            </div>
            <div class="grid__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <img src="/assets/images/catalog-new.png" alt="Card image">
                    </div>
                    <div class="card__text">
                        <div class="name">Кухни прямые</div>
                        <div class="text">10 товаров</div>
                    </div>
                </div>
            </div>
            <div class="grid__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <img src="/assets/images/catalog-new.png" alt="Card image">
                    </div>
                    <div class="card__text">
                        <div class="name">Кухни прямые</div>
                        <div class="text">10 товаров</div>
                    </div>
                </div>
            </div>
            <div class="grid__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <img src="/assets/images/catalog-new.png" alt="Card image">
                    </div>
                    <div class="card__text">
                        <div class="name">Кухни прямые</div>
                        <div class="text">10 товаров</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/4_grid/v_50/style.css">