<section class="main-page-banner banner B_55_LINE B_55_BG BLOCK_55">
    <div class="banner__wrapper container B_55_PADDED_TOP B_55_PADDED_BOTTOM B_55_ALLIGN">
        <div class="banner__info">
            <div class="banner__subtitle B_55_SUBTITLE">Блок 55</div>
            <h2 class="banner__title B_55_TITLE">Баннер 3</h2>
            <div class="banner__text B_55_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или несколькими
                юридическими или физическими лицами.</div>
        </div>
        <a class="banner__item item-1">
            <div class="item__image">
                <div class="img-cage">
                    <div class="img-desktop">
                        <img src="./images/main-banners/1-big.png" alt="Banner">
                    </div>
                    <div class="img-mobile">
                        <img src="./images/main-banners/1-sm.png" alt="Banner">
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>
<link rel="stylesheet" href="components/9_banners/v_1/style.css">