<section class="main-services services s_9_10_line s_9_10_bg MAIN_SERVICES_9_10">
    <div class="services__wrapper container s_9_10_padded_top s_9_10_padded_bottom s_9_10_allign">
        <div class="services__info">
            <div class="services__subtitle s_9_10_subtitle">Блок 9</div>
            <h2 class="services__title s_9_10_title">Наши услуги 9</h2>
            <div class="services__text s_9_10_text"><b>Вид 7.</b> За 5 лет работы мы реализовали свыше 100 ярких
                проектов. Делимся лучшим!</div>
            <a class="services__btn main-side-btn">Подробнее</a>
        </div>
        <div class="services__cards cards-9">
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/9-10/1.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Танго</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/9-10/2.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Школа картинга</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/9-10/3.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Дизайн квартир</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/9-10/4.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Дизайн коттеджей</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/9-10/5.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Английский для IT специалистов</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/9-10/6.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Дизайн интерьера в стиле Лофт</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-services services s_9_10_line s_9_10_bg MAIN_SERVICES_9_10">
    <div class="services__wrapper container s_9_10_padded_top s_9_10_padded_bottom s_9_10_allign">
        <div class="services__info">
            <div class="services__subtitle s_9_10_subtitle">Блок 10</div>
            <h2 class="services__title s_9_10_title">Наши товары 10</h2>
            <div class="services__text s_9_10_text"><b>Вид 7.</b> За 5 лет работы мы реализовали свыше 100 ярких
                проектов. Делимся лучшим!</div>
            <a class="services__btn main-side-btn">Подробнее</a>
        </div>
        <div class="services__cards cards-9">
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/9-10/7.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Смесители</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/9-10/8.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Дрели и шуруповерты</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/9-10/9.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Душевые кабины</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/9-10/10.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Компьютерные стулья и кресла</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/9-10/11.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Компьютерные и письменные столы</div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card-wrap">
                    <img src="./images/services/9-10/12.png" alt="Service card">
                </div>
                <div class="card__wrap">
                    <div class="card__title">Мягкие диваны и кушетки</div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/4_services/v_9-10/style.css">