<section class="main-steps steps B_95_LINE B_95_BG BLOCK_95">
    <div class="steps__wrapper container B_95_PADDED_TOP B_95_PADDED_BOTTOM B_95_ALLIGN">
        <div class="steps__info">
            <div class="steps__subtitle B_95_TITLE">Блок 86</div>
            <h2 class="steps__title B_95_TITLE">Этапы работы</h2>
        </div>
        <div class="steps__cards cards">
            <div class="cards__item">
                <div class="item-num">
                    <span>1</span>
                </div>
                <div class="item-title">Определение целей и задач интеграции</div>
                <div class="item-text">Подбирайте удобный гардероб для комфортной жизни в городе</div>
            </div>
            <div class="cards__item">
                <div class="item-num">
                    <span>2</span>
                </div>
                <div class="item-title">Определение целей и задач интеграции</div>
                <div class="item-text">Подбирайте удобный гардероб для комфортной жизни в городе</div>
            </div>
            <div class="cards__item">
                <div class="item-num">
                    <span>3</span>
                </div>
                <div class="item-title">Определение целей и задач интеграции</div>
                <div class="item-text">Подбирайте удобный гардероб для комфортной жизни в городе</div>
            </div>
            <div class="cards__item">
                <div class="item-num">
                    <span>4</span>
                </div>
                <div class="item-title">Определение целей и задач интеграции</div>
                <div class="item-text">Подбирайте удобный гардероб для комфортной жизни в городе</div>
            </div>
        </div>
    </div>
</section>
<section class="main-steps steps B_95_LINE B_95_BG BLOCK_95">
    <div class="steps__wrapper container B_95_PADDED_TOP B_95_PADDED_BOTTOM B_95_ALLIGN">
        <div class="steps__info">
            <div class="steps__subtitle B_95_TITLE">Блок 86</div>
            <h2 class="steps__title B_95_TITLE">Этапы работы</h2>
        </div>
        <div class="steps__cards cards">
            <div class="cards__item">
                <div class="item-num">
                    <span>1</span>
                </div>
                <div class="item-title">Определение</div>
                <div class="item-text">Подбирайте удобный гардероб для комфортной жизни в городе</div>
            </div>
            <div class="cards__item">
                <div class="item-num">
                    <span>2</span>
                </div>
                <div class="item-title">Определение целей Определение целей и задач интеграции Определение целей и задач
                    интеграции</div>
                <div class="item-text">Подбирайте удобный гардероб для</div>
            </div>
            <div class="cards__item">
                <div class="item-num">
                    <span>3</span>
                </div>
                <div class="item-title">Определение целей и задач интеграции</div>
                <div class="item-text">Подбирайте удобный гардероб для комфортной жизни в городе</div>
            </div>
            <div class="cards__item">
                <div class="item-num">
                    <span>4</span>
                </div>
                <div class="item-title">Определение целей и задач интеграции</div>
                <div class="item-text">Подбирайте удобный гардероб для комфортной жизни в городе</div>
            </div>
            <div class="cards__item">
                <div class="item-num">
                    <span>5</span>
                </div>
                <div class="item-title">Определение целей и задач интеграции</div>
            </div>
        </div>
    </div>
</section>
<section class="main-steps steps B_95_LINE B_95_BG BLOCK_95">
    <div class="steps__wrapper container B_95_PADDED_TOP B_95_PADDED_BOTTOM B_95_ALLIGN">
        <div class="steps__info">
            <div class="steps__subtitle B_95_TITLE">Блок 86</div>
            <h2 class="steps__title B_95_TITLE">Этапы работы</h2>
        </div>
        <div class="steps__cards cards">
            <div class="cards__item">
                <div class="item-num">
                    <span>1</span>
                </div>
                <div class="item-title">Определение целей и задач интеграции</div>
                <div class="item-text">Подбирайте удобный гардероб для комфортной жизни в городе</div>
            </div>
            <div class="cards__item">
                <div class="item-num">
                    <span>2</span>
                </div>
                <div class="item-title">Определение целей и задач интеграции</div>
                <div class="item-text">Подбирайте удобный гардероб для комфортной жизни в городе</div>
            </div>
            <div class="cards__item">
                <div class="item-num">
                    <span>3</span>
                </div>
                <div class="item-title">Определение целей и задач интеграции</div>
                <div class="item-text">Подбирайте удобный гардероб для комфортной жизни в городе</div>
            </div>
        </div>
    </div>
</section>
<section class="main-steps steps B_95_LINE B_95_BG BLOCK_95 bg-filled">
    <div class="steps__wrapper container B_95_PADDED_TOP B_95_PADDED_BOTTOM B_95_ALLIGN">
        <div class="steps__info">
            <div class="steps__subtitle B_95_TITLE">Блок 86</div>
            <h2 class="steps__title B_95_TITLE">Этапы работы</h2>
        </div>
        <div class="steps__cards cards">
            <div class="cards__item">
                <div class="item-num">
                    <span>1</span>
                </div>
                <div class="item-title">Определение</div>
                <div class="item-text">Подбирайте удобный гардероб для комфортной жизни в городе</div>
            </div>
            <div class="cards__item">
                <div class="item-num">
                    <span>2</span>
                </div>
                <div class="item-title">Определение целей Определение целей и задач интеграции Определение целей и задач
                    интеграции</div>
                <div class="item-text">Подбирайте удобный гардероб для</div>
            </div>
            <div class="cards__item">
                <div class="item-num">
                    <span>3</span>
                </div>
                <div class="item-title">Определение целей и задач интеграции</div>
                <div class="item-text">Подбирайте удобный гардероб для комфортной жизни в городе</div>
            </div>
            <div class="cards__item">
                <div class="item-num">
                    <span>4</span>
                </div>
                <div class="item-title">Определение целей и задач интеграции</div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/32_steps/style.css">