<section class="main-services services s_13_14_line s_13_14_bg MAIN_SERVICES_13_14">
    <div class="services__wrapper container s_13_14_padded_top s_13_14_padded_bottom s_13_14_allign">
        <div class="services__info">
            <div class="services__subtitle s_13_14_subtitle">Блок 13</div>
            <h2 class="services__title s_13_14_title">Наши услуги 13</h2>
            <div class="services__text s_13_14_text"><b>Вид 7.</b> За 5 лет работы мы реализовали свыше 100 ярких
                проектов. Делимся лучшим!</div>
            <a href="" class="services__all">
                <p>Все услуги</p>
                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.71107 4.10927L1.77692 0.161609C1.5479 -0.0539542 1.19759 -0.0539541 0.981984 0.161609C0.766421 0.377172 0.766421 0.740939 0.981984 0.95654L4.52541 4.49997L0.981985 8.0434C0.766422 8.27241 0.766422 8.62273 0.981985 8.83833C1.19755 9.05389 1.54785 9.05389 1.77692 8.83833L5.71107 4.90417C5.92664 4.67516 5.92664 4.32484 5.71107 4.10924L5.71107 4.10927Z"
                        fill="var(--color-dark)" />
                </svg>
            </a>
        </div>
        <div class="services__cards cards-13">
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/13-14/1.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Бухгалтерские услуги</div>
                        <div class="card__tags">
                            <a href="">Металлоконструкции</a>
                            <a href="">Проектирование домов</a>
                            <a href="">Ландшафтное проектирование участков</a>
                            <a href="">Ландшафтное проектирование</a>
                            <a href="">Дизайн Интерьера</a>
                            <a href="">Металлоконструкции</a>
                            <a href="">Реорганизация предприятия</a>
                        </div>
                        <div class="card__text">Новый корпус и интегрированная система сенсоров. Здесь у нас находится
                            краткое описание категории, которая размещается только в 3 строки.</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/13-14/2.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Бизнес-планирование</div>
                        <div class="card__tags">
                            <a href="">Металлоконструкции</a>
                            <a href="">Проектирование домов</a>
                            <a href="">Ландшафтное проектирование участков</a>
                            <a href="">Ландшафтное проектирование</a>
                            <a href="">Дизайн Интерьера</a>
                            <a href="">Металлоконструкции</a>
                            <a href="">Реорганизация предприятия</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/13-14/3.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Салон красоты</div>
                        <div class="card__text">Новый корпус и интегрированная система сенсоров. Здесь у нас находится
                            краткое описание категории, которая размещается только в 3 строки.</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/13-14/4.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Металлоконструкции</div>
                        <div class="card__tags">
                            <a href="">Металлоконструкции</a>
                            <a href="">Проектирование домов</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/13-14/5.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Ремонт и строительство</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/13-14/6.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Подготовка к экзаменам по английскому</div>
                        <div class="card__tags">
                            <a href="">Металлоконструкции</a>
                            <a href="">Проектирование домов</a>
                            <a href="">Ландшафтное проектирование участков</a>
                            <a href="">Ландшафтное проектирование</a>
                            <a href="">Дизайн Интерьера</a>
                            <a href="">Металлоконструкции</a>
                            <a href="">Реорганизация предприятия</a>
                        </div>
                        <div class="card__text">Новый корпус и интегрированная система сенсоров. Здесь у нас находится
                            краткое описание категории, которая размещается только в 3 строки.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-services services s_13_14_line s_13_14_bg MAIN_SERVICES_13_14">
    <div class="services__wrapper container s_13_14_padded_top s_13_14_padded_bottom s_13_14_allign">
        <div class="services__info">
            <div class="services__subtitle s_13_14_subtitle">Блок 14</div>
            <h2 class="services__title s_13_14_title">Наши товары 14</h2>
            <div class="services__text s_13_14_text"><b>Вид 7.</b> За 5 лет работы мы реализовали свыше 100 ярких
                проектов. Делимся лучшим!</div>
            <a href="" class="services__all">
                <p>Все товары</p>
                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.71107 4.10927L1.77692 0.161609C1.5479 -0.0539542 1.19759 -0.0539541 0.981984 0.161609C0.766421 0.377172 0.766421 0.740939 0.981984 0.95654L4.52541 4.49997L0.981985 8.0434C0.766422 8.27241 0.766422 8.62273 0.981985 8.83833C1.19755 9.05389 1.54785 9.05389 1.77692 8.83833L5.71107 4.90417C5.92664 4.67516 5.92664 4.32484 5.71107 4.10924L5.71107 4.10927Z"
                        fill="var(--color-dark)" />
                </svg>
            </a>
        </div>
        <div class="services__cards cards-13">
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/13-14/7.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Женские ботинки</div>
                        <div class="card__tags">
                            <a href="">Металлоконструкции</a>
                            <a href="">Проектирование домов</a>
                            <a href="">Ландшафтное проектирование участков</a>
                            <a href="">Ландшафтное проектирование</a>
                            <a href="">Дизайн Интерьера</a>
                            <a href="">Металлоконструкции</a>
                            <a href="">Реорганизация предприятия</a>
                        </div>
                        <div class="card__text">Новый корпус и интегрированная система сенсоров. Здесь у нас находится
                            краткое описание категории, которая размещается только в 3 строки.</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/13-14/8.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Сумки</div>
                        <div class="card__tags">
                            <a href="">Металлоконструкции</a>
                            <a href="">Проектирование домов</a>
                            <a href="">Ландшафтное проектирование участков</a>
                            <a href="">Ландшафтное проектирование</a>
                            <a href="">Дизайн Интерьера</a>
                            <a href="">Металлоконструкции</a>
                            <a href="">Реорганизация предприятия</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/13-14/9.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Кошельки</div>
                        <div class="card__text">Новый корпус и интегрированная система сенсоров. Здесь у нас находится
                            краткое описание категории, которая размещается только в 3 строки.</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/13-14/10.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Электробритвы</div>
                        <div class="card__tags">
                            <a href="">Металлоконструкции</a>
                            <a href="">Проектирование домов</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/13-14/11.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Набор ручного инструментао</div>
                    </div>
                </div>
            </div>
            <div class="services__card card">
                <div class="card__row">
                    <div class="card-wrap">
                        <div class="wrap">
                            <img src="./images/services/13-14/12.png" alt="Service card">
                        </div>
                    </div>
                    <div class="card__wrap">
                        <div class="card__title">Мягкие диваны и кушетки</div>
                        <div class="card__tags">
                            <a href="">Металлоконструкции</a>
                            <a href="">Проектирование домов</a>
                            <a href="">Ландшафтное проектирование участков</a>
                            <a href="">Ландшафтное проектирование</a>
                            <a href="">Дизайн Интерьера</a>
                            <a href="">Металлоконструкции</a>
                            <a href="">Реорганизация предприятия</a>
                        </div>
                        <div class="card__text">Новый корпус и интегрированная система сенсоров. Здесь у нас находится
                            краткое описание категории, которая размещается только в 3 строки.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/4_services/v_13-14/style.css">