<section class="main-news news B_76_LINE B_76_BG BLOCK_76">
    <div class="news__wrapper container B_76_PADDED_TOP B_76_PADDED_BOTTOM B_76_ALLIGN">
        <div class="news__info">
            <div class="news__subtitle B_76_SUBTITLE">Блок 76</div>
            <h2 class="news__title B_76_TITLE">Новости и Акции</h2>
            <div class="news__text B_76_TEXT">В нашем катологе представлены последние линейки спецтехники, систем
                Закажите констультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. мы
                подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок.
            </div>
        </div>
        <div class="news__cards">
            <div class="news__card card featured">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/news/1.png" alt="News card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__tag">советы клиентам</div>
                    <div class="card__title">Можно ли сверлить пластиковые окна под...</div>
                </div>
            </div>
            <div class="news__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/news/2.png" alt="News card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__tag">советы клиентам</div>
                    <div class="card__title">Пятно застройки: планирование и размещение дом на земельном участке</div>
                </div>
            </div>
            <div class="news__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/news/3.png" alt="News card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__tag">Технологии</div>
                    <div class="card__title">Топ-5 лучших интерьерных решений</div>
                </div>
            </div>
            <div class="news__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/news/4.png" alt="News card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__tag">Технологии</div>
                    <div class="card__title">Топ-5 лучших интерьерных решений</div>
                </div>
            </div>
            <div class="news__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/news/5.png" alt="News card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__tag">Технологии</div>
                    <div class="card__title">Топ-5 лучших интерьерных решений</div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="components/23_news/script.js"></script>
<link rel="stylesheet" href="components/23_news/style.css">