<section class="main-instagram instagram B_90_LINE B_90_BG BLOCK_90">
    <div class="instagram__wrapper container B_90_PADDED_TOP B_90_PADDED_BOTTOM B_90_ALLIGN">
        <div class="instagram__info">
            <div class="instagram__subtitle B_90_SUBTITLE">Блок 90</div>
            <h2 class="instagram__title B_90_TITLE">Instagram 1</h2>
            <div class="instagram__text B_90_TEXT">ООО "Компания" — учрежденное одним или несколькими юридическими или
                физическими лицами.</div>
        </div>
        <div class="instagram__cards cards-1">
            <div class="instagram__card featured card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <img src="./images/instagram/1.png" alt="Instagram card">
                        </div>
                    </div>
                </div>
                <div class="card-wrap">
                    <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                        организаций после реорганизации предприятия. Бухгалтерское обслуживание организаций. Комплексное
                        обслуживание ваших частных организаций после реорганизации предприятия.</div>
                    <div class="card__date">01.11.2022</div>
                </div>
            </div>
            <div class="cards__row">
                <div class="instagram__card card">
                    <div class="card__wrap">
                        <div class="card__image">
                            <div class="img-cage">
                                <img src="./images/instagram/2.png" alt="Instagram card">
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap">
                        <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                            организаций после реорганизации предприятия.</div>
                        <div class="card__date">01.11.2022</div>
                    </div>
                </div>
                <div class="instagram__card card">
                    <div class="card__wrap">
                        <div class="card__image">
                            <div class="img-cage">
                                <img src="./images/instagram/3.png" alt="Instagram card">
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap">
                        <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                            организаций после реорганизации предприятия.</div>
                        <div class="card__date">01.11.2022</div>
                    </div>
                </div>
                <div class="instagram__card card">
                    <div class="card__wrap">
                        <div class="card__image">
                            <div class="img-cage">
                                <img src="./images/instagram/4.png" alt="Instagram card">
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap">
                        <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                            организаций после реорганизации предприятия.</div>
                        <div class="card__date">01.11.2022</div>
                    </div>
                </div>
                <div class="instagram__card card">
                    <div class="card__wrap">
                        <div class="card__image">
                            <div class="img-cage">
                                <img src="./images/instagram/5.png" alt="Instagram card">
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap">
                        <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                            организаций после реорганизации предприятия.</div>
                        <div class="card__date">01.11.2022</div>
                    </div>
                </div>
                <div class="instagram__card card">
                    <div class="card__wrap">
                        <div class="card__image">
                            <div class="img-cage">
                                <img src="./images/instagram/6.png" alt="Instagram card">
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap">
                        <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                            организаций после реорганизации предприятия.</div>
                        <div class="card__date">01.11.2022</div>
                    </div>
                </div>
                <div class="instagram__card card">
                    <div class="card__wrap">
                        <div class="card__image">
                            <div class="img-cage">
                                <img src="./images/instagram/7.png" alt="Instagram card">
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap">
                        <div class="card__title">Бухгалтерское обслуживание организаций. Комплексное обслуживание ваших
                            организаций после реорганизации предприятия.</div>
                        <div class="card__date">01.11.2022</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/26_instagram/v_1/style.css">