.page-title {
    margin-bottom: 0.76em;
}

.content__wrapper {
    margin-bottom: 60px;
    margin-top: 4px;
}

.content .tabs__item-inner {
    height: fit-content;
    padding-bottom: 0;
}

.content .tabs__item-inner .inner__block {
    margin-bottom: 30px;
}

.content .tabs__item-inner .inner__block:last-of-type {
    margin-bottom: 0;
}

.content .tabs__item-inner .inner__block-item {
    border: 1px solid var(--color-mid);
    border-radius: 10px;
    border-top: 0;
}

.content .tabs__item-inner .inner__block-text {
    font-size: 1.6em;
    color: var(--settings-side-text);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.content .tabs__item-inner .inner__block-text .wrap {
    font-size: 0.81em;
    display: flex;
    gap: 10px;
}

.content .tabs__item-inner .inner__block-text .wrap span:first-of-type,
.content .tabs__item-inner .inner__block-text .wrap span:last-of-type {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: var(--settings-side-text);
    text-underline-offset: 0.23em;
    cursor: pointer;
    transition: all 0.24s ease-in-out;
}

.content .tabs__item-inner .inner__block-text .wrap span:first-of-type:hover,
.content .tabs__item-inner .inner__block-text .wrap span:last-of-type:hover {
    color: var(--color-accent);
    text-decoration-color: var(--color-accent);
}

.content .tabs__item-inner .item__head {
    background: var(--color-accent);
    border-radius: 5px;
    padding: 17px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-light-fixed);
}

.content .tabs__item-inner .item__head .text {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.4em;
    font-weight: 600;
}

.content .tabs__item-inner .btns {
    display: flex;
    align-items: center;
    gap: 37px;
}

.content .tabs__item-inner .btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3em;
    cursor: pointer;
}

.content .tabs__item-inner .completed {
    font-size: 1.3em;
    font-weight: 600;
}

.content .tabs__item-inner .item__body {
    padding: 30px;
}

.content .item__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .item__bottom .btn-detail {
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
    padding: 12px 22px;
    width: fit-content;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.24s ease-in-out;
}

.content .item__bottom .btn-detail:hover {
    background: var(--color-accent);
    color: var(--color-light-fixed);
}

.content .item__bottom .btns {
    color: var(--settings-side-text);
}

.content .item__bottom .btn path,
.content .item__bottom .btn {
    transition: all 0.24s ease-in-out;
}

.content .item__bottom .btn:hover {
    color: var(--color-accent);
}

.content .item__bottom .btn:first-of-type:hover path {
    fill: var(--color-accent);
}

.content .item__bottom .btn:last-of-type:hover path {
    stroke: var(--color-accent);
}

@media (max-width: 1200px) {
    .content .tabs__item-inner .item__head .btns {
        display: none;
    }
}

@media (max-width: 1000px) {
    .content .tabs__item-inner {
        top: 0 !important;
    }
}

@media (max-width: 768px) {
    .content .tabs__item-inner .inner__block-text {
        font-size: 1.4em;
    }

    .content .tabs__item-inner .item__head {
        padding: 17px;
        flex-direction: column;
        align-items: flex-start;
    }

    .content .tabs__item-inner .item__head .text {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--color-light-fixed);
        margin-bottom: 15px;
        gap: 5px;
        width: 100%;
    }

    .content .tabs__item-inner .item__head .text span:nth-of-type(2) {
        display: none;
    }

    .content .tabs__item-inner .item__section-row {
        flex-direction: column;
    }

    .content .tabs__item-inner .item__section-row .main-cta {
        width: 100%;
        margin-top: 30px;
    }

    .content .tabs__item-inner .item__section-row .upper {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .content .tabs__item-inner .item__section-row .upper .tag {
        width: fit-content;
    }

    .content .item__section-dropdown {
        margin-top: 15px;
    }

    .content .item__bottom {
        flex-direction: column;
    }

    .item__bottom .btns {
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .content__wrapper {
        margin-bottom: 40px;
    }

    .content .tabs__item-inner .item__body {
        padding: 30px 10px;
    }

    .content .item__section-dropdown .dropdown-body .items {
        gap: 20px;
    }

    .content .item__section-dropdown .dropdown-body .item {
        width: calc((100% - 20px) / 2);
    }

    .content .item__bottom .btn-detail {
        width: 100%;
        text-align: center;
    }

    .content .tabs__item-inner .inner__block-text .wrap {
        justify-content: space-between;
        width: 100%;
    }

    .content .tabs__item-inner .inner__block-text .wrap span:nth-of-type(2) {
        display: none;
    }

    .item__bottom .btns {
        margin-top: 20px;
    }
}
