.page-title {
    margin-bottom: 0.76em;
}

.page-back {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3em;
    color: var(--color-accent);
    transition: all 0.24s ease-in-out;
    cursor: pointer;
}

.page-back:hover {
    filter: brightness(0.7);
}

.content__wrapper {
    margin-bottom: 60px;
    margin-top: 4px;
}

.content .tabs__item-inner {
    height: fit-content;
    padding-bottom: 0;
}

.content .tabs__item-inner .inner__block {
    margin-bottom: 30px;
    margin-top: 20px;
}

.content .tabs__item-inner .inner__block:last-of-type {
    margin-bottom: 0;
}

.content .tabs__item-inner .inner__block-item {
    border: 1px solid var(--color-mid);
    border-radius: 10px;
    border-top: 0;
}

.content .tabs__item-inner .item__head {
    background: var(--color-accent);
    border-radius: 5px;
    padding: 17px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-light-fixed);
}

.content .tabs__item-inner .item__head .text {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.4em;
    font-weight: 600;
}

.content .tabs__item-inner .btns {
    display: flex;
    align-items: center;
    gap: 37px;
}

.content .tabs__item-inner .btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3em;
    cursor: pointer;
}

.content .tabs__item-inner .item__body {
    padding: 30px;
}

.content .tabs__item-inner .item__section {
    margin-top: 30px;
}

.content .tabs__item-inner .item__section:first-of-type {
    margin-top: 0;
}

.content .tabs__item-inner .item__section-title,
.content .inner__block-title {
    font-weight: 800;
    font-size: 1.6em;
    margin-bottom: 30px;
}

.content .inner__block-title {
    margin-bottom: 20px;
    padding-left: 30px;
}

.content .tabs__item-inner .inner__block:has(.inner__block-title) .inner__block-item {
    border: 1px solid var(--color-mid);
}

.content .tabs__item-inner .inner__block:has(.inner__block-title) .item__section-row:not(.detail) .upper {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-mid);
}

.content .tabs__item-inner .inner__block:has(.inner__block-title) .item__section-row:not(.detail) .upper .wrap {
    gap: 15px;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--color-dark);
}

.content .tabs__item-inner .inner__block:has(.inner__block-title) .item__section-row:not(.detail) .upper .wrap p {
    color: var(--settings-side-text);
}

.content .tabs__item-inner .inner__block:has(.inner__block-title) .item__section-row:not(.detail) .upper .wrap:has(p) {
    gap: 10px;
}

.content .tabs__item-inner .dropdown-body .item__section-title {
    margin-bottom: 20px;
}

.content .tabs__item-inner .item__section-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content .tabs__item-inner .item__section-row .col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content .tabs__item-inner .item__section-row .upper {
    display: flex;
    gap: 20px;
}

.content .tabs__item-inner .item__section-row .wrap {
    color: var(--settings-side-text);
    display: flex;
    gap: 90px;
}

.content .tabs__item-inner .item__section-row .wrap-cage .title {
    margin-bottom: 4px;
    font-size: 1.3em;
    color: var(--settings-side-text);
}

.content .tabs__item-inner .item__section-row .wrap-cage.name .text {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--color-dark);
}

.content .tabs__item-inner .item__section-row .wrap-cage.status .text {
    font-size: 1.3em;
    color: var(--color-dark);
}

.content .tabs__item-inner .item__section-row .wrap-cage.sum .text {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--color-dark);
}

.content .item__section-dropdown {
    margin-top: 20px;
}

.content .item__section-dropdown .dropdown-head {
    color: var(--color-accent);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.24s ease-in-out;
}

.content .item__section-dropdown .dropdown-head:hover {
    filter: brightness(0.7);
}

.content .item__section-dropdown .dropdown-head svg {
    transition: all 0.24s ease-in-out;
}

.content .item__section-row:has(.show) .dropdown-head svg {
    transform: rotate(180deg);
}

.content .item__section-dropdown .dropdown-body {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid var(--color-mid);
    display: none;
}

.content .item__section-dropdown .dropdown-body .items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 60px;
    max-width: 516px;
}

.content .item__section-dropdown .dropdown-body .item {
    width: calc((100% - 60px * 2) / 3);
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.content .item__section-dropdown .dropdown-body .item.selected .item__img {
    border-color: var(--color-accent);
}

.content .item__section-dropdown .dropdown-body .item__img {
    height: 66px;
    border-radius: 5px;
    border: 1px solid var(--color-mid);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .item__section-dropdown .dropdown-body .item__img .img-cage {
    width: 74px;
    height: 42px;
}

.content .item__section-dropdown .dropdown-body .item__img .img-cage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content .item__section-dropdown .dropdown-body .item__name {
    font-size: 1.2em;
    text-align: center;
}

.content .item__section-dropdown .dropdown-body .item__section-row .col {
    gap: 10px;
}

.content .item__section-dropdown .dropdown-body .item__section-row .col-item .title {
    font-size: 1.3em;
    color: var(--settings-side-text);
    margin-bottom: 5px;
}

.content .item__section-dropdown .dropdown-body .item__section-row .col-item .text {
    font-size: 1.3em;
}

.content .item__section-dropdown .dropdown-body .item__section-row .col-item a.text {
    color: var(--color-accent);
}

.content .item__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.content .item__bottom .btn-detail {
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
    padding: 12px 22px;
    width: fit-content;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.24s ease-in-out;
}

.content .item__bottom .btn-detail:hover {
    background: var(--color-accent);
    color: var(--color-light-fixed);
}

.content .item__bottom .btns {
    color: var(--settings-side-text);
}

.content .item__bottom .btn path,
.content .item__bottom .btn {
    transition: all 0.24s ease-in-out;
}

.content .item__bottom .btn:hover {
    color: var(--color-accent);
}

.content .item__bottom .btn:first-of-type:hover path {
    fill: var(--color-accent);
}

.content .item__bottom .btn:last-of-type:hover path {
    stroke: var(--color-accent);
}

.content .item__section-row.detail {
    margin-top: 30px;
}

.content .item__section-row.detail .col {
    flex-direction: row;
}

.content .item__section-row.detail .upper .wrap {
    flex-direction: column;
    gap: 6px;
    font-size: 1.5em;
    font-weight: 600;
}

.content .item__section-row.detail .upper .wrap p {
    font-size: 0.86em;
    font-weight: 400;
    display: flex;
    gap: 10px;
}

.content .item__section-row.detail .upper .wrap p span {
    font-weight: 600;
    color: var(--color-dark);
}

.content .item__section-row.detail .item__section-dropdown {
    margin-top: 10px;
}

.content .item__section-row.detail .tag {
    padding: 8px 14px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2em;
    height: fit-content;
}

.content .item__section-row.detail .tag.not {
    background: #fedfd9;
    color: #f82900;
}

.content .item__section-row.detail .tag.is {
    background: #e5f3ec;
    color: #50ac80;
}

.content .item__section-row.detail .payment-method {
    margin-right: 30px;
    width: 132px;
    min-width: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .item__section-row.detail .payment-method .item__img {
    border: 1px solid var(--color-mid);
    border-radius: 5px;
    width: 100%;
    height: 66px;
}

.content .item__section-row.detail .payment-method .item__img .img-cage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content .item__section-row.detail .payment-method .item__name {
    font-size: 1.3em;
    margin-top: 5px;
    text-align: center;
}

.content .item__section-row.detail .payment-method .item__name span {
    display: block;
    text-align: center;
    color: var(--settings-side-text);
}

.content .item__section-row.detail .dropdown-body {
    border-top: none;
    padding-top: 0;
}

.content .item__section-row.detail:not(:has(.main-cta)) {
    flex-direction: column;
}

.content .item__section-row.detail .item__section-list {
    margin-top: 30px;
    display: none;
}

.content .item__section-row .item__section-list {
    width: 100%;
    overflow-x: auto;
}

.content .item__section-row .item__section-list::-webkit-scrollbar {
    display: none;
}

.content .item__section-row .item__section-list::-webkit-scrollbar-thumb {
    display: none;
}

.content .item__section-row .item__section-list .list__item {
    width: 100%;
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-mid);
}

.content .item__section-row .item__section-list .list__item:first-of-type {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-mid);
    margin-bottom: 20px;
    padding-top: 0;
}

.content .item__section-row .item__section-list .list__item:last-of-type {
    border-bottom: 0;
}

.content .item__section-row .item__section-list .list__item .sm-title {
    font-size: 1.3em;
    color: var(--settings-side-text);
    width: 100%;
    text-align: center;
}

.content .item__section-row .item__section-list .list__item .column {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.content .item__section-row .item__section-list .list__item .column.detail {
    width: 354px;
    min-width: 300px;
    margin-left: 0;
}

.content .item__section-row .item__section-list .list__item .column.detail .sm-title {
    text-align: left;
}

.content .item__section-row .item__section-list .list__item-image {
    width: 60px;
    min-width: 60px;
    height: 60px;
    border: 1px solid var(--color-mid);
    border-radius: 3px;
    margin-right: 30px;
}

.content .item__section-row .item__section-list .list__item-image .img-cage {
    width: 100%;
    height: 100%;
}

.content .item__section-row .item__section-list .list__item-image .img-cage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content .item__section-row .item__section-list .list__item-name {
    font-size: 1.3em;
    line-height: 1.38em;
}

.content .item__section-row .item__section-list .list__item-price {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    white-space: nowrap;
}

.content .item__section-row .item__section-list .list__item-discount {
    width: 100%;
    font-size: 1.2em;
    padding: 4px 7px;
    background: #f8d759;
    border-radius: 2px;
    color: var(--color-dark-fixed);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.content .item__section-row .item__section-list .list__item-quantity {
    font-size: 1.3em;
    width: 100%;
    text-align: center;
}

.content .item__section-row .item__section-list .list__item-final {
    font-weight: 700;
    font-size: 1.6em;
    width: 100%;
    text-align: right;
    white-space: nowrap;
}

.content .item__section-row .item__section-list .list__item .column.price {
    width: 150px;
    min-width: 150px;
}

.content .item__section-row .item__section-list .list__item .column.discount {
    width: 50px;
    min-width: 50px;
}

.content .item__section-row .item__section-list .list__item .column.quantity {
    width: 80px;
    min-width: 80px;
}

.content .item__section-row .item__section-list .list__item .column.final {
    width: 100px;
    min-width: 100px;
}

.content .item__section-row .item__section-list:not(:has(.list__item-final)) .column:last-of-type .list__item-quantity,
.content .item__section-row .item__section-list:not(:has(.list__item-final)) .column:last-of-type .sm-title {
    text-align: right;
}

.content .inner__bottom {
    margin-top: -10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--color-mid);
}

.content .inner__bottom .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
}

.content .inner__bottom .row:before {
    width: calc(100% - 60px);
    height: 0;
    border-bottom: 1px dashed var(--color-mid);
    content: "";
    position: absolute;
    bottom: 2px;
    left: 30px;
    z-index: 9;
}

.content .inner__bottom .row:last-of-type {
    margin-bottom: 0;
}

.content .inner__bottom .row .title {
    font-size: 1.3em;
    color: var(--settings-side-text);
    margin-left: 30px;
    background: var(--color-light);
    padding-right: 10px;
    position: relative;
    z-index: 999;
}

.content .inner__bottom .row .text {
    font-size: 1.3em;
    font-weight: 600;
    margin-right: 30px;
    background: var(--color-light);
    padding-left: 10px;
    position: relative;
    z-index: 999;
}

.content .inner__bottom .row.bolder .title {
    font-size: 1.6em;
    color: var(--color-dark);
    font-weight: 700;
}

.content .inner__bottom .row.bolder .text {
    font-size: 1.6em;
    color: var(--color-dark);
    font-weight: 700;
}

.content .item__section-reorder {
    display: none;
}

.content .item__section-reorder .main-cta {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content .item__section-reorder .main-cta path {
    transition: all 0.24s ease-in-out;
}

.content .item__section-reorder .main-cta:hover path {
    fill: var(--color-button);
    stroke: var(--color-button);
}

.content .item__section-reorder .cancel-order {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.3em;
    color: var(--settings-side-text);
}

@media (max-width: 1200px) {
    .content .tabs__item-inner .item__head .btns {
        display: none;
    }

    .content .tabs__item-inner .item__section-row .wrap {
        gap: 40px;
        flex-wrap: wrap;
    }

    .content .inner__block .item__section-row.detail .main-cta {
        display: none;
    }
}

@media (max-width: 1000px) {
    .content .tabs__item-inner {
        top: 0 !important;
    }
}

@media (max-width: 768px) {
    .content .tabs__item-inner .item__head {
        padding: 17px;
        justify-content: center;
    }

    .content .tabs__item-inner .item__head .text {
        flex-direction: column;
        gap: 5px;
    }

    .content .tabs__item-inner .item__head .text span:nth-of-type(2) {
        display: none;
    }

    .content .tabs__item-inner .item__section-row {
        flex-direction: column;
    }

    .content .tabs__item-inner .item__section-row .main-cta {
        width: 100%;
        margin-top: 30px;
    }

    .content .tabs__item-inner .item__section-row .upper {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .content .tabs__item-inner .item__section-row .upper .tag {
        width: fit-content;
    }

    .content .item__section-dropdown {
        margin-top: 15px;
    }

    .content .item__bottom {
        flex-direction: column-reverse;
    }

    .item__bottom .btns {
        margin-bottom: 30px;
    }

    .content .tabs__item-inner .item__section-row:not(.row) .wrap {
        gap: 20px;
        flex-direction: column;
    }

    .content .tabs__item-inner .item__section-title,
    .content .inner__block-title {
        margin-bottom: 20px;
    }
}

@media (max-width: 678px) {
    .content .item__section-dropdown .dropdown-body .items {
        gap: 20px;
    }

    .content .item__section-dropdown .dropdown-body .item {
        width: calc((100% - 20px * 2) / 3);
    }
}

@media (max-width: 575px) {
    .content__wrapper {
        margin-bottom: 40px;
    }

    .content .tabs__item-inner .item__body {
        padding: 30px 10px;
    }

    .content .item__section-dropdown .dropdown-body .items {
        gap: 20px;
    }

    .content .item__section-dropdown .dropdown-body .item {
        width: calc((100% - 20px) / 2);
    }

    .content .item__bottom .btn-detail {
        width: 100%;
        text-align: center;
    }

    .content .item__section-reorder {
        display: block;
    }

    .content .tabs__item-inner .item__section-row.row .wrap:not(.vertical) {
        gap: 5px !important;
        flex-direction: column;
    }

    .content .tabs__item-inner .item__section-row.row .wrap span:nth-of-type(2) {
        display: none;
    }

    .content .item__section-row.detail .col {
        flex-direction: column;
        align-items: center;
    }

    .content .item__section-row.detail .col div:has(.upper) {
        width: 100%;
        margin-top: 20px;
    }

    .content .tabs__item-inner .item__section-row:not(.row) .wrap {
        gap: 5px;
    }

    .content .item__section-row.detail .payment-method {
        margin-right: 0;
    }

    .content .inner__bottom .row .title {
        margin-left: 10px;
    }

    .content .inner__bottom .row .text {
        margin-right: 10px;
    }
}
