<section class="main-gallery main-gallery-2 gallery B_62_LINE B_62_BG BLOCK_62">
    <div class="gallery__wrapper container B_62_PADDED_TOP B_62_PADDED_BOTTOM B_62_ALLIGN">
        <div class="gallery__info">
            <div class="gallery__subtitle B_62_SUBTITLE">Блок 62</div>
            <h2 class="gallery__title B_62_TITLE">Галерея</h2>
            <div class="gallery__text B_62_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или несколькими
                юридическими или физическими лицами.</div>
        </div>
        <div class="gallery__cards cards cards-1">
            <div class="gallery__card card" data-slick-index="0">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/gallery/1.png" alt="Gallery card" class="cta" data-action="gallery"
                            data-section="main-gallery-2">
                    </div>
                </div>
            </div>
            <div class="gallery__card card" data-slick-index="1">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/gallery/2.png" alt="Gallery card" class="cta" data-action="gallery"
                            data-section="main-gallery-2">
                    </div>
                </div>
            </div>
            <div class="gallery__card card" data-slick-index="2">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/gallery/3.png" alt="Gallery card" class="cta" data-action="gallery"
                            data-section="main-gallery-2">
                    </div>
                </div>
            </div>
            <div class="gallery__card card" data-slick-index="3">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/gallery/4.png" alt="Gallery card" class="cta" data-action="gallery"
                            data-section="main-gallery-2">
                    </div>
                </div>
            </div>
            <div class="gallery__card card" data-slick-index="4">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/gallery/5.png" alt="Gallery card" class="cta" data-action="gallery"
                            data-section="main-gallery-2">
                    </div>
                </div>
            </div>
            <div class="gallery__card card" data-slick-index="5">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/gallery/6.png" alt="Gallery card" class="cta" data-action="gallery"
                            data-section="main-gallery-2">
                    </div>
                </div>
            </div>
            <div class="gallery__card card" data-slick-index="6">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/gallery/7.png" alt="Gallery card" class="cta" data-action="gallery"
                            data-section="main-gallery-2">
                    </div>
                </div>
            </div>
            <div class="gallery__card card" data-slick-index="7">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/gallery/8.png" alt="Gallery card" class="cta" data-action="gallery"
                            data-section="main-gallery-2">
                    </div>
                </div>
            </div>
            <div class="gallery__card card" data-slick-index="8">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/gallery/9.png" alt="Gallery card" class="cta" data-action="gallery"
                            data-section="main-gallery-2">
                    </div>
                </div>
            </div>
            <div class="gallery__card card" data-slick-index="9">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/gallery/10.png" alt="Gallery card" class="cta" data-action="gallery"
                            data-section="main-gallery-2">
                    </div>
                </div>
            </div>
            <div class="gallery__card card" data-slick-index="10">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/gallery/11.png" alt="Gallery card" class="cta" data-action="gallery"
                            data-section="main-gallery-2">
                    </div>
                </div>
            </div>
            <div class="gallery__card card" data-slick-index="11">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/gallery/12.png" alt="Gallery card" class="cta" data-action="gallery"
                            data-section="main-gallery-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/11_gallery/style.css">