<section class="main-partners partners B_58_59_LINE B_58_59_BG BLOCK_58_59">
    <div class="partners__wrapper container B_58_59_PADDED_TOP B_58_59_PADDED_BOTTOM B_58_59_ALLIGN">
        <div class="partners__info">
            <div class="partners__subtitle B_58_59_SUBTITLE">Блок 58</div>
            <h2 class="partners__title B_58_59_TITLE">Наши партнеры 1</h2>
            <div class="partners__text B_58_59_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или несколькими
                юридическими или физическими лицами.</div>
        </div>
        <div class="partners__cards cards-1">
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/1.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/2.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/3.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/4.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/5.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/6.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/7.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/8.png" alt="Partner card">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-partners partners B_58_59_LINE B_58_59_BG BLOCK_58_59">
    <div class="partners__wrapper container B_58_59_PADDED_TOP B_58_59_PADDED_BOTTOM B_58_59_ALLIGN">
        <div class="partners__info">
            <div class="partners__subtitle B_58_59_SUBTITLE">Блок 59</div>
            <h2 class="partners__title B_58_59_TITLE">Наши партнеры 2</h2>
            <div class="partners__text B_58_59_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или несколькими
                юридическими или физическими лицами.</div>
            <!-- <a href="" class="partners__all">
                <p>Все партнеры</p>
                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.71107 4.10927L1.77692 0.161609C1.5479 -0.0539542 1.19759 -0.0539541 0.981984 0.161609C0.766421 0.377172 0.766421 0.740939 0.981984 0.95654L4.52541 4.49997L0.981985 8.0434C0.766422 8.27241 0.766422 8.62273 0.981985 8.83833C1.19755 9.05389 1.54785 9.05389 1.77692 8.83833L5.71107 4.90417C5.92664 4.67516 5.92664 4.32484 5.71107 4.10924L5.71107 4.10927Z"
                        fill="var(--color-dark)" />
                </svg>
            </a> -->
        </div>
        <div class="partners__cards cards-1">
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/1.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/2.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/3.png" alt="Partner card">
                    </div>
                </div>
            </div>
            <div class="partners__card card">
                <div class="card-wrap">
                    <div class="img-cage">
                        <img src="./images/partners/4.png" alt="Partner card">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/10_partners/v_1-2/style.css">