<section class="main-certificates certificates B_54_LINE B_54_BG BLOCK_54">
    <div class="certificates__wrapper container B_54_PADDED_TOP B_54_PADDED_BOTTOM B_54_ALLIGN">
        <div class="certificates__info">
            <div class="certificates__subtitle B_54_SUBTITLE">Блок 54</div>
            <h2 class="certificates__title B_54_TITLE">Сертификаты</h2>
            <div class="certificates__text B_54_TEXT"><b>Вид 1.</b> ООО "Компания" — учрежденное одним или несколькими
                юридическими или физическими лицами.</div>
        </div>
        <div class="certificates__cards cards-1">
            <div class="certificates__card card">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/certificates/1.png" alt="Certificate card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__lupa cta" data-action="gallery" data-section="main-certificates">
                        <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                            <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="certificates__card card">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/certificates/2.png" alt="Certificate card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__lupa cta" data-action="gallery" data-section="main-certificates">
                        <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                            <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="certificates__card card">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/certificates/3.png" alt="Certificate card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__lupa cta" data-action="gallery" data-section="main-certificates">
                        <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                            <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="certificates__card card">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/certificates/4.png" alt="Certificate card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__lupa cta" data-action="gallery" data-section="main-certificates">
                        <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                            <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="certificates__card card">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/certificates/5.png" alt="Certificate card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__lupa cta" data-action="gallery" data-section="main-certificates">
                        <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                            <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="certificates__card card">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/certificates/6.png" alt="Certificate card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__lupa cta" data-action="gallery" data-section="main-certificates">
                        <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                            <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="certificates__card card">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/certificates/7.png" alt="Certificate card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__lupa cta" data-action="gallery" data-section="main-certificates">
                        <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                            <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="certificates__card card">
                <div class="card__image">
                    <div class="img-cage">
                        <img src="./images/certificates/8.png" alt="Certificate card">
                    </div>
                </div>
                <div class="card__wrap">
                    <div class="card__lupa cta" data-action="gallery" data-section="main-certificates">
                        <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10.2677" cy="10.2677" r="9.26773" stroke="white" stroke-width="2" />
                            <line x1="17.8957" y1="16.4864" x2="24.6911" y2="22.2366" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="5.75" y1="10.4998" x2="15.607" y2="10.4998" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                            <line x1="10.5" y1="15.6074" x2="10.5" y2="5.7504" stroke="white" stroke-width="2" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="components/8_certificates/script.js"></script>
<link rel="stylesheet" href="components/8_certificates/style.css">