<section class="main-video video B_87_88_LINE B_87_88_BG BLOCK_87_88">
    <div class="video__wrapper container B_87_88_PADDED_TOP B_87_88_PADDED_BOTTOM B_87_88_ALLIGN">
        <div class="video__info">
            <div class="video__subtitle B_87_88_SUBTITLE">Блок 87</div>
            <h2 class="video__title B_87_88_TITLE">Видео 1</h2>
            <div class="video__text B_87_88_TEXT">ООО "Компания" — учрежденное одним или несколькими юридическими или
                физическими лицами.</div>
        </div>
        <div class="video__cards cards-1 row-1">
            <div class="video__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <iframe width="100%" height="100%" src="./images/video/example.mp4" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card__text">Красивый попугай. Это первая строка.</div>
                </div>
            </div>
            <div class="video__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <iframe width="100%" height="100%" src="./images/video/example.mp4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card__text">Красивый попугай. Это первая строка. Красивый Кеша. А здесь вторая строчка.
                    </div>
                </div>
            </div>
            <div class="video__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <iframe width="100%" height="100%" src="./images/video/example.mp4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card__text">Красивый попугай. Это первая строка.</div>
                </div>
            </div>
            <div class="video__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <iframe width="100%" height="100%" src="./images/video/example.mp4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card__text">Красивый попугай. Это первая строка.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-video video B_87_88_LINE B_87_88_BG BLOCK_87_88">
    <div class="video__wrapper container B_87_88_PADDED_TOP B_87_88_PADDED_BOTTOM B_87_88_ALLIGN">
        <div class="video__info">
            <div class="video__subtitle B_87_88_SUBTITLE">Блок 88</div>
            <h2 class="video__title B_87_88_TITLE">Видео 2</h2>
            <div class="video__text B_87_88_TEXT">ООО "Компания" — учрежденное одним или несколькими юридическими или
                физическими лицами.</div>
        </div>
        <div class="video__cards cards-1 row-2">
            <div class="video__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <iframe width="100%" height="100%" src="./images/video/example.mp4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card__text">Красивый попугай. Это первая строка.</div>
                </div>
            </div>
            <div class="video__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <iframe width="100%" height="100%" src="./images/video/example.mp4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card__text">Красивый попугай. Это первая строка. Красивый Кеша. А здесь вторая строчка.
                    </div>
                </div>
            </div>
            <div class="video__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <iframe width="100%" height="100%" src="./images/video/example.mp4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card__text">Красивый попугай. Это первая строка.</div>
                </div>
            </div>
            <div class="video__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <iframe width="100%" height="100%" src="./images/video/example.mp4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card__text">Красивый попугай. Это первая строка.</div>
                </div>
            </div>
            <div class="video__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <iframe width="100%" height="100%" src="./images/video/example.mp4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card__text">Красивый попугай. Это первая строка.</div>
                </div>
            </div>
            <div class="video__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <iframe width="100%" height="100%" src="./images/video/example.mp4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card__text">Красивый попугай. Это первая строка. Красивый Кеша. А здесь вторая строчка.
                    </div>
                </div>
            </div>
            <div class="video__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <iframe width="100%" height="100%" src="./images/video/example.mp4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card__text">Красивый попугай. Это первая строка.</div>
                </div>
            </div>
            <div class="video__card card">
                <div class="card__wrap">
                    <div class="card__image">
                        <div class="img-cage">
                            <iframe width="100%" height="100%" src="./images/video/example.mp4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card__text">Красивый попугай. Это первая строка.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="components/25_video/v_1/style.css">